.single {
	position: fixed;
	top: 88px;
	width: calc(100% - 300px);
	width: -webkit-calc(100% - 300px);
	background: #FEFEFE url(img/bg-grunge.png) 0 0 repeat-y;
  background-size: 100% auto;
	height: 100%;
	z-index:9;
	transform: none;
	-webkit-backface-visibility: hidden;
	right: 0px;
}
	.single .scroller {
	  overflow-y: scroll;
	  overflow-x: hidden;
	  -webkit-overflow-scrolling: touch;
	  width: 100%;
	  height: 100%;
	  transform: translate3d(0, 0, 0);
	}
	
	.single.forms {
		z-index:10;
	}

	.single-details {
		width: 100%; 
		float: left; 
		display: block;
		height: calc(100% - 138px);
		height: -webkit-calc(100% - 138px);
		position: absolute;
		padding-top: 20px;
	}
		.single-details.active {}
		
	.single .header {
		/* padding: 15px; */
		font-weight: 600;
		background: none;
		position: relative;
		height: 50px;
		line-height: 50px;
		max-width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
	}
		.single .header .btn.left {
			font-size: 18px;
			font-family: 'Trade Gothic Bold';
			font-weight: 400;
			padding-left: 8px;
		}
		.single .header .btn.right {
			font-size: 24px;
			color: #acacac;
			font-weight: 400;
		}
			.single .header .btn.right.facebook {
				right: 44px;
				top: 1px;
				font-size: 30px;
			}
			.single .header .btn.right.twitter {
				right: 88px;
				top: 1px;
				font-size: 30px;
			}
			.single .header .btn.right:active,
			.single .header .btn.right.active {
				color: #383738;
			}
			
	.single .circle {
		width: 80%;
		height: auto;
		text-align: center;
		border-radius: 100%;
		/*background: #383738;*/
		color: #383738;
		margin: 0px auto 30px;
		margin: 0px auto 36px;
		padding-top: 0px;
		box-sizing: border-box;
		-webkit-backface-visibility: hidden;
	}
		.single .circle h1 {
			font-size: 42px;
			line-height: 1;
			margin-bottom: 5px;
			margin-top: 0px;
			font-weight: 400;
			letter-spacing: -0.5px;
			font-family: 'Trade Gothic Bold';
		}
		.single .circle h3 {
			font-size: 18px;
			padding: 0px 20px;
			font-weight: 400;
			letter-spacing: 0px;
			font-family: 'Trade Gothic Roman';
		}
		
	.single .linebreak {
		margin-top: 0px;
		width: 100%;
		margin: 0 auto;
		display: block;
		/* padding: 0px 20px; */
		box-sizing: border-box;
		-webkit-backface-visibility: hidden;
	}
			
	.single .data { 
		width: 80%; 
		margin: 0 auto;
		position: relative;
		height: auto;
		clear: both;
		display: table;
		padding: 6px 0px 10px;
		padding: 3px 0px 7px;
	}
		.single .data div { 
			width: 50%; 
			float: none;
			display: table-cell;
			vertical-align: middle; 
		}
			.single .data .ibu { 
				text-align: center;
				padding-right: 0px;
				box-sizing: border-box; 
			}
			.single .data .abv { 
				text-align: center;
				padding-left: 0px;
				box-sizing: border-box;  
			}
			.single .data span { 
				font-size: 26px; 
				text-transform: uppercase;
				vertical-align: middle;
				font-family: 'Trade Gothic Bold';
				font-weight: 400;
			}
				.single .data span.small { 
					font-size: 18px; 
				}
			
	.single .details {
		background: #333332;
		color: white;
		padding: 25px;
		padding-top: 0px;
		box-sizing: border-box;
		-webkit-backface-visibility: hidden;
	}
			
		.single .details .long-desc {
			width: 100%;
			margin: 0 auto;
			font-size: 16px;
			font-weight: normal;
			line-height: 1.4;
			padding-bottom: 20px;
			/* margin-bottom: 80px; */
		}
		
		.single ul.icons {
			height: auto;
			width: 70%;
			display: flex;
			display: -webkit-flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto;
			padding: 0;
			margin-bottom: 10px;
			padding-top: 10px;
		}
			.single ul.icons li {
				display: block;
				float: left;
				width: 33.333333%;
				height: 100%;
				text-align: center;
				text-transform: uppercase;
				position: relative;
				font-size: 12px;
				font-weight: 600;
				letter-spacing: -0.5px;
				font-family: 'Trade Gothic Bold';
			}
				.single ul.icons li:last-child { border-right: none; }
				
				.single ul.icons li [class^="icon-"]:before, 
				.single ul.icons li [class*=" icon-"]:before {
					position: absolute;
					left: 0px;
					width: 100%;
					font-size: 36px;
					color: #5c5c5b;
					top: 0px;
					line-height: 36px;
				}		
				
				.single ul.icons li .filter-value {
					margin-top: 0px;
					line-height: 36px;
					z-index: 1;
					color: #FFF;
					position: relative;
					letter-spacing: -1px;
					font-size: 12px;
					min-height: 40px;
				}
		
		.single .graph {
			position: relative;
			width: 94%;
			margin: 0 auto;
		}
		
		.single ul.numbering {
			position: absolute;
			top: -4px;
			right: -20px;
			font-size: 10px;
			color: #999;
		}
			.single ul.numbering li {
				line-height: 1em;
				margin-bottom: 10px;
				text-align: center;
			}
		
		.single table {
			border: 1px solid #666; 
			margin:0 auto; 
			border-left:0px;
			border-right:0px;
			margin-bottom: 12px;
			margin-top: 10px;
		}
			.single table tr {
				height: 20px;
			}
				.single table tr td {
					border: 1px solid #666;
					width: 25%;
				}
				
	  .single .legend {
		  display: table;
			width: 90%;
			margin: 0 auto;
			margin-bottom: 30px;
	  }
	  	.single .legend div {
			  display: table-cell;
				width: 50%;
				font-size: 10px;
				text-align: center;
		  }
		  	.single .legend div.beer-profile {
				  color: #EE3423 ;
			  }
			  .single .legend div.user-profile {
				  color: #999;
			  }
	
	
@media only screen and (max-width: 767px) {
	
	.header .btn {
	  width: 50px;
	  height: 100%;
	  top: 0px;
	  position: absolute;
	  text-align: center;
	  line-height: 36px;
	}
	
	.single .header .btn.left {
		padding: 6px 13px;
	}
	
	.single .header .btn.right.facebook {
		right: 0px;
		top: 1px;
		font-size: 30px;
	}
	.single .header .btn.right.twitter {
		right: 44px;
		top: 1px;
		font-size: 30px;
	}
	
	main section .content .left,
	main section .content .right {
		width: auto;
	}
    
}