<div id="wrapper">
	
	<div id="scroller">

	<p-json
		url="https://localbrewingco.com/cms/json/?type=beerlist"
		jsonp="true"
		cachekey="beerlist"
		name="beers"
		class="p-invisible"
	>
	  <p-list key="beers.beers" name="beer">
	  
	  	<p-if true="'$params.slug;' == '$beer.slug;'">
		  	
		  	<div class="header">
					<div 
						class="back btn left visibility-tablet"
						p-action-1="(click) call: close"
						p-action-2="hideview: overlay/nu-slide-out-to-right"
					>Back</div>
					<div 
						class="share btn right ding facebook"
						p-action-1="(click) call: shareFacebook"
						p-action-1-params="id: $beer.id;; name: $beer.name;;"
						onclick="ga('send', 'event', 'share', 'facebook', '$beer.name;');"
					>G</div>
					<div 
						class="share btn right ding twitter"
						p-action-1="(click) call: shareTwitter"
						p-action-1-params="id: $beer.id;; name: $beer.name;;"
						onclick="ga('send', 'event', 'share', 'twitter', '$beer.name;');"
					>t</div>					
				</div>
	
			  <div class="single-details scroller">
					<div class="circle">
						<h1>$beer.name;</h1>
						<h3>$beer.short_description;</h3>
					</div>
					
					<svg class="linebreak" width="100%" height="10px">
						<line x1="7" x2="100%" y1="4" y2="4" stroke="#acacac" stroke-width="4" stroke-linecap="round" stroke-dasharray="1, 10" style="stroke: #acacac;"></line>
					</svg>
					
					<div class="data">
						<div class="ibu">$beer.ibu; <span class="small">ibu</span></div>
						<div class="abv">$beer.abv;% <span class="small">abv</span></div>
					</div>
					
					<div class="details">
					
						<ul class="icons clearfix">
							<li 
								class="hoppyness"
							>
								<div class="icon-hoppy">
									<div class="filter-value">$beer.hoppyness;</div>
								</div>
							</li>
							<li
								class="alcohol"
							>
								<div class="icon-boozy">
									<div class="filter-value">$beer.alcohol;</div>
								</div>
							</li>
							<li
								class="complexity"
							>
								<div class="icon-complex">
									<div class="filter-value">$beer.complexity;</div>
								</div>
							</li>
						</ul>
					
						<div class="graph">
							<div class="overlays">
								<div class="user-profile">
		
									<svg id="profileGraph" preserveAspectRatio="none" width="100%" viewBox="0 0 315 182" style="position: absolute; width:100%; height:100%; opacity: 0.5;">
										<polygon id="profilePoly" points="0,0 0,0 0,0 0,0" style="fill:#CCCCCC; width:100%;" />
									</svg>
		
								</div>
								<div class="beer-profile">
								
									<svg id="beerGraph" preserveAspectRatio="none" width="100%" viewBox="0 0 315 182" style="position: absolute; width:100%; height:100%; opacity: 0.5;">
										<polygon id="beerPoly" points="0,0 0,0 0,0 0,0" style="fill:#ff0c00; width:100%;" />
									</svg>
								
								</div>
							</div>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td style="border-left: 0px;"></td>
									<td></td>
									<td></td>
									<td style="border-right: 0px;"></td>
								</tr>
								<tr>
									<td style="border-left: 0px;"></td>
									<td></td>
									<td></td>
									<td style="border-right: 0px;"></td>
								</tr>
								<tr>
									<td style="border-left: 0px;"></td>
									<td></td>
									<td></td>
									<td style="border-right: 0px;"></td>
								</tr>
								<tr>
									<td style="border-left: 0px;"></td>
									<td></td>
									<td></td>
									<td style="border-right: 0px;"></td>
								</tr>
								<tr>
									<td style="border-left: 0px;"></td>
									<td></td>
									<td></td>
									<td style="border-right: 0px;"></td>
								</tr>
								<tr>
									<td style="border-left: 0px;"></td>
									<td></td>
									<td></td>
									<td style="border-right: 0px;"></td>
								</tr>
								<tr>
									<td style="border-left: 0px;"></td>
									<td></td>
									<td></td>
									<td style="border-right: 0px;"></td>
								</tr>
								<tr>
									<td style="border-left: 0px;"></td>
									<td></td>
									<td></td>
									<td style="border-right: 0px;"></td>
								</tr>
								<tr>
									<td style="border-left: 0px;"></td>
									<td></td>
									<td></td>
									<td style="border-right: 0px;"></td>
								</tr>
							</table>
							
							<ul class="numbering">
								<li>10</li>
								<li>9</li>
								<li>8</li>
								<li>7</li>
								<li>6</li>
								<li>5</li>
								<li>4</li>
								<li>3</li>
								<li>2</li>
								<li>1</li>
							</ul>
							
						</div>
						
						<div class="legend">
							<div class="beer-profile">• Flavor Profile of this beer</div>
						</div>
					
						<p class="long-desc">
						$beer.full_description;
						</p>
					
					</div>
			  </div>
			
	  	</p-if>
		
		</p-list>
	
	</p-json>

</div>
</div>