.overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 999999;
	color: white;
	display: block;
	text-align: left;
	top: 0px;
	left: 0px;
	padding: 0;
}

	.overlay .content {
		overflow: hidden;
		box-sizing: border-box;
	}

	.overlay header {
		background: none;
		color: white;
	}
		.overlay header .close-btn {
			font-size: 24px;
			color: white;
			position: absolute;
			right: 0px;
			padding: 0px 20px;
			font-size: 52px;
			cursor: pointer;
		}
	
	.overlay .navigation.content {
		display: block;
		padding: 0px 30px 30px 10px;
	}
		.overlay .navigation.content h1 {
			font-size: 28px;
			margin-bottom: 18px;			
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 30px;
			font-family: 'Local Headline';
			line-height: 1.1em;
			text-transform: uppercase;
			font-weight: 400;
		}
			.overlay .navigation.content h1 a {
				color: #fff;
			}
		.overlay .navigation.content .block {
			margin: 0px auto 30px;
		}
			.overlay .navigation.content .block li {
				font-size: 18px;
				margin-bottom: 30px;
				font-weight: 400;
			}
				.overlay .navigation.content .block li a {
					color: #fff;
				}
				.overlay .navigation.content .block li:active,
				.overlay .navigation.content .block li a:active {
					color: #ee3423;
					text-decoration: none;
				}
				
	.overlay .account.content {
		display: block;
		padding: 0px 30px 30px;
		margin-top: -10px;
	}
		.overlay .account.content .user-data {
			clear: both;
			display: block;
			position: relative;
			height: 50px;
			margin-bottom: 70px;
		}
			.overlay .account.content .user-data .avatar {
				width: 50px;
				height: 50px;
				background: #FFF;
				border-radius: 50%;
				float: left;
				margin-right: 10px;
				overflow: hidden;
			}
				.overlay .account.content .user-data .avatar img {
					width: 100%;
					height: auto;
				}
			
			.overlay .account.content .user-data .username {
				line-height: 50px;
			}
		
		.overlay .account.content h1 {
			font-size: 21px;
			margin-bottom: 18px;
			font-family: 'Trade Gothic Bold', Arial, Helvetica, sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 16px;
		}
		.overlay .account.content .block {
			margin: 0px auto 30px;
		}
			.overlay .account.content .block li {
				font-size: 18px;
				margin-bottom: 5px;
				font-weight: 400;
				position: relative;
				-webkit-font-smoothing: antialiased;
			}
				.overlay .account.content .block li .item {
					position: relative;
					padding: 12px 0px 12px;
					width: 100%;
					display: block;
				}
					.overlay .account.content .block li .item:active {
						color: #ee3423;
					}
				
				.overlay .account.content .list {}
				
				.overlay .account.content .list .beer-sum { 
					clear: left;
					font-weight: 400;
					letter-spacing: -0.5px;
					-webkit-font-smoothing: antialiased;
					box-sizing: border-box;
					display: -webkit-flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 10px;
					position: relative;
					padding: 12px 0px 12px;
					width: 100%;
					display: block;
				}
					.overlay .account.content .list .beer-sum:active {
						color: #ee3423;
					}

					.overlay .account.content .list .beer-sum .info { width: 70%; }
					.overlay .account.content .list .beer-sum h2 {
						font-family: inherit;
						font-weight: 400;
						font-size: 18px;
					}
						.overlay .account.content .list .beer-sum .levels .level {
							width: 31px;
							height: 38px;
							line-height: 34px;
							font-size: 12px;
							text-align: center;
							border-radius: 100%;
							color: #fff;
							font-weight: normal;
							display: block;
							float: left;
							position: relative;
							z-index: 1;
						}
						
						.overlay .account.content .list .beer-sum .levels [class^="icon-"], 
						.overlay .account.content .list .beer-sum .levels [class*=" icon-"] {			
							width: 30px;
							float: left;
							text-align: center;
							position: relative;
						}
							.overlay .account.content .list .beer-sum .levels [class^="icon-"]:before, 
							.overlay .account.content .list .beer-sum .levels [class*=" icon-"]:before {
								position: absolute;
								left: 0px;
								width: 100%;
								font-size: 32px;
								-webkit-text-stroke: 1px #fff;
								/* text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; */
								color: transparent;
								top: 0px;
								line-height: 32px;
							}
							
							.overlay .account.content .list .beer-sum .levels {
								/* color: transparent; */
								position: absolute;
								right: 0px;
								top: 5px;
							}
							
		.overlay .account.content .block .remove-item {
			position: absolute;
			right: 0px;
			top: 4px;
			color: #EE3423;
			font-size: 12px;
			z-index: 99;
			padding: 12px 0px 12px 12px;
		}
		
		.overlay .account.content .list .remove-item {}
				
		.overlay .account .manage {
			text-align: center;
			margin-bottom: 30px;
			margin-top: -10px;
			color: gray;
			font-size: 14px;
			padding: 10px 40px;
			margin-top: 10px;
			box-sizing: border-box;
		}
		
		.overlay .account .log-out {
			text-align: center;
			margin-bottom: 0px;
			margin-top: 0px;
			color: gray;
			text-transform: uppercase;
			font-size: 14px;
			font-family: 'Trade Gothic Bold', Arial, Helvetica, sans-serif;
			padding: 14px;
			border: 1px solid #808080;
		}
		
.overlay .scroller {
	overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  position: absolute;
  width: 100%;
  padding: 50px 20px;
}