.p-invisible
{
	display: none;
}

.p-transition-visible
{
	animation-duration: 200ms;
	animation-name: p-fade-in;
}

.p-transition-visible-quick
{
	animation-duration: 10ms;
	animation-name: p-fade-in;
}

.p-visible
{
	opacity: 1;
}

.p-transition-invisible
{
	animation-duration: 400ms;
	animation-name: p-fade-out;
}

.p-visible
{
	opacity: 1;
}

@keyframes p-fade-in
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes p-fade-out
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

