/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #ff4419;
    text-shadow: none;
}

::selection {
    background: #ff4419;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com
   ========================================================================== */

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Local Headline';
    src: url('../fonts/localheadline-bold-webfont.eot');
    src: url('../fonts/localheadline-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/localheadline-bold-webfont.woff2') format('woff2'),
         url('../fonts/localheadline-bold-webfont.woff') format('woff'),
         url('../fonts/localheadline-bold-webfont.ttf') format('truetype'),
         url('../fonts/localheadline-bold-webfont.svg#local_headlinebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trade Gothic Roman';
    src: url('../fonts/tradegothic-webfont.eot');
    src: url('../fonts/tradegothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-webfont.woff2') format('woff2'),
         url('../fonts/tradegothic-webfont.woff') format('woff'),
         url('../fonts/tradegothic-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-webfont.svg#tradegothicroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Trade Gothic Bold';
    src: url('../fonts/tradegothic-bold-webfont.eot');
    src: url('../fonts/tradegothic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothic-bold-webfont.woff2') format('woff2'),
         url('../fonts/tradegothic-bold-webfont.woff') format('woff'),
         url('../fonts/tradegothic-bold-webfont.ttf') format('truetype'),
         url('../fonts/tradegothic-bold-webfont.svg#tradegothicbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStdBdCn20';
    src: url('../fonts/tradegothicltstd-bdcn20-webfont.eot');
    src: url('../fonts/tradegothicltstd-bdcn20-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothicltstd-bdcn20-webfont.woff') format('woff'),
         url('../fonts/tradegothicltstd-bdcn20-webfont.ttf') format('truetype'),
         url('../fonts/tradegothicltstd-bdcn20-webfont.svg#TradeGothicLTStdBdCnNo.20') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicLTStdCn18';
    src: url('../fonts/tradegothicltstd-cn18-webfont.eot');
    src: url('../fonts/tradegothicltstd-cn18-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothicltstd-cn18-webfont.woff') format('woff'),
         url('../fonts/tradegothicltstd-cn18-webfont.ttf') format('truetype'),
         url('../fonts/tradegothicltstd-cn18-webfont.svg#TradeGothicLTStdCnNo.18') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fenwayparkjfregular';
    src: url('../fonts/FenwayParkJF-webfont.eot');
    src: url('../fonts/FenwayParkJF-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FenwayParkJF-webfont.woff2') format('woff2'),
         url('../fonts/FenwayParkJF-webfont.woff') format('woff'),
         url('../fonts/FenwayParkJF-webfont.ttf') format('truetype'),
         url('../fonts/FenwayParkJF-webfont.svg#fenwayparkjfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'local-icon';
  src: url('../fonts/local-icon.eot');
  src: url('../fonts/local-icon.eot') format('embedded-opentype'),
       url('../fonts/local-icon.woff') format('woff'),
       url('../fonts/local-icon.ttf') format('truetype'),
       url('../fonts/local-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'modern_pictograms_proregular';
  src: url('../fonts/modernpictogramspro_2-webfont.eot');
  src: url('../fonts/modernpictogramspro_2-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/modernpictogramspro_2-webfont.woff') format('woff'),
       url('../fonts/modernpictogramspro_2-webfont.ttf') format('truetype'),
       url('../fonts/modernpictogramspro_2-webfont.svg#modern_pictograms_proregular') format('svg');
  font-weight: normal;
  font-style: normal;  
}

/* icons */

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'local-icon';
}

.ding {
	font-family: 'modern_pictograms_proregular';
}

.icon-instagram:before { content: '\e800'; } /* '' */
.icon-sliders:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-target:before { content: '\e803'; } /* '' */
.icon-hoppy:before { content: '\e804'; } /* '' */
.icon-boozy:before { content: '\e805'; } /* '' */
.icon-complex:before { content: '\e806'; } /* '' */
.icon-export:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-dot-3:before { content: '\e809'; } /* '' */
.icon-untappd:before { content: '\e80a'; } /* '' */

/* ==========================================================================
   Global
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: black;
	font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	font-weight: 400;
}

.content {
	max-width: 1000px;
	width: 100%;
}

h1 {}
h2 {
	font-size: 42px;
}
h3 {
	font-size: 16px;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.tooltip .tooltip-inner {
	padding: 20px;
	font-size: 13px;
	font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	min-width: 250px;
}

button {
	border: 0;
	outline: 0;
	font-size: 22px;
	padding: 6px 32px;
	letter-spacing: 1px;
	
	/*
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	*/
}
	button.small {
		padding: 6px 18px;
		font-size: 16px;
	}
	button.large {
		padding: 8px 60px;
		font-size: 26px;
	}
	button.launch {
		background: #ee3423;
		font-family: 'Local Headline';
		text-transform: uppercase;
		color: white;
	}
	
.linebreak {
	margin: 20px auto 30px;
}

header {
	position: fixed;
	background: #ee3423;
	font-family: 'Local Headline';
	width: 100%;
	height: 60px;
	top: 0px;
	left: 0px;
	z-index: 9;
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}
	header nav {
		position: relative;
		color: white;
		max-width: 1000px;
		margin: 0 auto;
		line-height: 60px;
		padding: 0px 25px;
		text-transform: uppercase;
		letter-spacing: 1px;
		z-index: 1;
	}
	header nav.sub {
		position: fixed;
		background: rgba(0,0,0,0.85);
		width: 100%;
		height: 50px;
		top: 60px;
		left: 0px;
		z-index: 0;
		max-width: 100%;
		line-height: 50px;
	}
		header nav.sub ul {
			max-width: 1000px;
			margin: 0 auto;
			padding-left: 126px;
			font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif;
			text-transform: initial;
			letter-spacing: 0px;
		}
			header nav.sub ul > li {}	
				header nav.sub ul > li,
				header nav.sub ul > li > a {
					
				}
				header nav.sub ul > li:hover,
				header nav.sub ul > li > a:hover {
					color: #ee3423;
					background: none;
				}
		header nav .icon-menu {
			position: absolute;
			font-size: 32px;
			display: none;
		}			
		header nav ul {
			list-style: none;
		  padding: 0;
		  margin: 0;
		}
			header nav ul > li,
			header nav ul > li > a {
			  display: inline-block;
			  *display: inline;
			  zoom: 1;
			  float: left;
				display: block;
				padding: 0px 18px;
				cursor: pointer;
				font-size: 17px;
			}
				header nav ul > li:hover {
					background: #2c2b2c;
					background: rgba(0,0,0,0.85);
				}
				header nav ul li.logo {
					position: relative;
					width: 114px;
					margin-top: -16px;
					padding-right: 4px;
					padding-left: 0px;
					margin-left: -14px;
					z-index: 2;
				}
					header nav ul li.logo:hover {
						background: none;
						margin-top: -14px;
					}
				header nav ul li.socials {
					text-transform: none;
				}
					header nav ul li.socials:hover {
						background: none;
					}
					header nav ul li.socials ul {}
						header nav ul li.socials ul li {
							color: #2c2b2c;
							padding: 0px 5px;
							font-size: 26px;
						}
							header nav ul li.socials ul li:first-child {
								padding-left: 0px;
							}
							header nav ul li.socials ul li:hover {
								background: none;
								color: white;
							}
							header nav ul li.socials ul li.instagram {
								font-size: 18px;
							}
							header nav ul li.socials ul li.untappd {
								font-size: 21px;
							}
				header nav .account {
					float: right;
				}
					header nav .account .username {}
						header nav .account .username:hover {
							background: none;
						}
					header nav .account .avatar {
						background: #2c2b2c;
						border-radius: 50%;
						width: 36px;
						height: 36px;
						padding: 0px;
						margin-top: 10px;
					}
			
		

main {
	position: relative;
	margin-top: 56px;
}
	main section {
		position: relative;
		width: 100%;
		min-height: 600px;
		background: black;
		color: white;
	}
		main section .content {
			margin: 0 auto;
			max-width: 1000px;
			padding: 25px 40px;
			padding-bottom: 50px;
			display: table;
		}
			main section .content .left {
				width: 50%;
				float: left;
			}
			main section .content .right {
				width: 50%;
				float: right;
			}
			main section .content h1,
			main section .content h2 {
				font-family: 'Local Headline';
				line-height: 1em;
				letter-spacing: 1px;
			}
			
			main section .content h2 {
				font-size: 42px;
				text-transform: uppercase;
			}
			
		main section#masthead {
			height: 300px;
			min-height: 300px;
		}
			main section#masthead .content h1 {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: 65px;
				text-transform: uppercase;
			}
			
			
		/* HOME */
			
		.home main section#hero {
			background: url(../img/hero.png) 50% 0 no-repeat;
			background-size: cover;
			height: 600px;
			display: table;
			font-smoothing: antialiased;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
			.home main section#hero .content {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
				.home main section#hero .content h1 {
					font-size: 90px;
					text-transform: uppercase;
					line-height: 1.1em;
					width: 80%;
					margin: 0 auto;
					margin-bottom: 8px;
				}
				.home main section#hero .content h3 {
					width: 80%;
					font-size: 24px;
					margin: 0 auto;
					font-weight: 200;
				}
				
		.home main section#finder {
			background: url(../img/home-finder.png) 50% 0 no-repeat;
			background-size: cover;
		}
			.home main section#finder h2 {
				font-size: 42px;
				text-transform: uppercase;
				margin-bottom: 30px;
				margin-top: 90px;
				color: #ee3423;
				width: 90%;
			}
			.home main section#finder h3 {
				line-height: 1.6em;
				width: 90%;
			}
			.home main section#finder button {
				margin-top: 60px;
			}
			
		.home main section#learn {
			background: url(../img/bg-grunge.png) 50% 0 repeat-y;
			background-size: 100% auto;
			text-align: center;
			color: #2c2b2c;
		}
			.home main section#learn h2 {
				font-size: 42px;
				text-transform: uppercase;
				color: #ee3423;
				width: 90%;
				text-align: center;
				margin: 0 auto;
				margin-bottom: 20px;
				margin-top: 70px;
			}
			.home main section#learn .items {}
				.home main section#learn .items .item {
					width: 33.3333%;
					margin-bottom: 50px;
					float: left;
					display: block;
				}
					.home main section#learn .items .item .image {
						width: 180px;
						height: 180px;
						background: #2d2d2d;
						border-radius: 50%;
						overflow: hidden;
						margin: 0 auto;
						margin-bottom: 50px;
					}
					.home main section#learn .items .item .title {
						font-family: 'TradeGothicLTStdBdCn20';
						font-size: 32px;
						font-weight: 400;
						text-transform: uppercase;
						margin-bottom: 10px;
					}
					.home main section#learn .items .item .description {
						line-height: 1.6em;
						width: 90%;
						margin: 0 auto;
						font-size: 16px;
					}
			
		.home main section#story {
			background: black;
		}
			.home main section#story .content {
				padding: 0px;
			}
				.home main section#story .content iframe {
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0px;
				}
		
		
		/* BEER */		
		
		.beer main section#masthead {
			background: url(../img/masthead-beer.png) 50% 0 no-repeat;
			background-size: cover;
		}
		
		.beer main section#beerlist {
			background: url(../img/bg-grunge.png) 50% 0 repeat-y;
			background-size: 100% auto;
			color: #2c2b2c;
			overflow: hidden;
			min-height: 650px;
		}
			.beer main section#beerlist h2 {
				margin-top: 30px;
			}
			.beer main section#beerlist .content .left {}
				.beer main section#beerlist .content .left h2 {
					float: left;
					display: block;
				}
				.beer main section#beerlist .content .left .selector {
					float: left;
					display: block;
					margin-top: 40px;
					font-size: 18px;
					margin-left: 30px;
				}
			.beer main section#beerlist .content .right {
				position: relative;
				margin-top: 40px;
				z-index: 1;
			}
				.beer main section#beerlist .content .right .filters {
					font-size: 18px;
					float: right;
				}
					.beer main section#beerlist .content .right .filters .filter {
						float: left;
						margin-left: 30px;
					}
						.beer main section#beerlist .content .right .filters .filter.active {
							color: #ee3423;
						}
					
			.beer main section#beerlist #list {
				position: absolute;
				top: 0px;
				width: 100%;
				height: 100%;
				left: 0px;
				overflow-x: scroll;
			}
				.beer main section#beerlist #list .scroller {
					position: absolute;
					width: 3000px;
					top: 130px;
					left: 50%;
					margin-left: -480px;
				}
					.beer main section#beerlist #list .scroller .item {
						float: left;
						display: block;
						margin-right: 0px;
						width: 194px;
						padding: 20px;
					}
						.beer main section#beerlist #list .beer-sum .image {
							width: 100%;
							height: 156px;
							/*
							border-radius: 50%;
							background: black;
							*/
						}
							.beer main section#beerlist #list .beer-sum .image img {
								max-width: 100%;
								max-height: 100%;
								margin: 0 auto;
								display: block;
								/* margin-left: 10px; */
							}
						
						.beer main section#beerlist #list .beer-sum .name {
							font-family: 'Trade Gothic Bold';
							text-transform: uppercase;
							font-weight: 400;
							letter-spacing: -0.5px;
							-webkit-font-smoothing: antialiased;
							font-size: 24px;
							margin-bottom: 12px;
							text-align: center;
						}
							.beer main section#beerlist #list .beer-sum.ale .name { color: #333333; }
							.beer main section#beerlist #list .beer-sum.wheat .name { color: #d0a600; }
							.beer main section#beerlist #list .beer-sum.india-pale-ale .name,
							.beer main section#beerlist #list .beer-sum.ipa .name { color: #42c777; }
							.beer main section#beerlist #list .beer-sum.pale-ale .name { color: #199999; }
							.beer main section#beerlist #list .beer-sum.red-ale .name { color: #ee3423; }
							.beer main section#beerlist #list .beer-sum.stout .name { color: #482d19; } 
							.beer main section#beerlist #list .beer-sum.porter .name { color: #482d19; }
						
						.beer main section#beerlist #list .beer-sum .description {
							margin-bottom: 12px;
							font-size: 15px;
							text-align: center;
						}
						
						.beer main section#beerlist #list .beer-sum .stats {
							font-family: 'Trade Gothic Bold';
							text-transform: uppercase;
							margin-bottom: 12px;
							margin-top: 24px;
							font-size: 15px;
							text-align: center;
						} 
						
						.beer main section#beerlist #list .beer-sum .levels {
							margin: 0 auto;
							width: 92px;
							display: table;
						}
						.beer main section#beerlist #list .beer-sum .levels .level {
							width: 31px;
							height: 34px;
							line-height: 34px;
							font-size: 12px;
							text-align: center;
							border-radius: 100%;
							color: #fff;
							font-weight: normal;
							display: block;
							float: left;
							position: relative;
							z-index: 1;
						}
							
							.beer main section#beerlist #list .beer-sum .levels [class^="icon-"], 
							.beer main section#beerlist #list .beer-sum .levels [class*=" icon-"] {			
								width: 30px;
								float: left;
								text-align: center;
								position: relative;
							}
								.beer main section#beerlist #list .beer-sum .levels [class^="icon-"]:before, 
								.beer main section#beerlist #list .beer-sum .levels [class*=" icon-"]:before {
									position: absolute;
									left: 0px;
									width: 100%;
									font-size: 32px;
									top: 0px;
									line-height: 32px;
								}
							
								.beer main section#beerlist #list .beer-sum.ale .levels { color: #333333; }
								.beer main section#beerlist #list .beer-sum.wheat .levels { color: #d0a600; }
								.beer main section#beerlist #list .beer-sum.india-pale-ale .levels,
								.beer main section#beerlist #list .beer-sum.ipa .levels { color: #42c777; }
								.beer main section#beerlist #list .beer-sum.pale-ale .levels { color: #199999; }
								.beer main section#beerlist #list .beer-sum.red-ale .levels { color: #ee3423; }
								.beer main section#beerlist #list .beer-sum.stout .levels { color: #482d19; } 
								.beer main section#beerlist #list .beer-sum.porter .levels { color: #482d19; }
		
		.beer main section#curator {
			background: #2c2b2c;
			height: 700px;
		}
			.beer main section#curator .content {
				padding-right: 20px;
			}
			.beer main section#curator .left {
				background: url(../img/beer-curator.png) 100% 84px no-repeat;
				position: absolute;
				height: 100%;
				left: -50%;
				width: 100%;
				top: 0px;
				transform: translateX(150px);
			}
				.beer main section#curator .left .poi {
					width: 40px;
					height: 40px;
					background: #EE3423;
					border-radius: 50%;
					color: #FFF;
					position: absolute;
					text-align: center;
					line-height: 40px;
				}
					.beer main section#curator .left .poi.terms {
						top: 230px;
						right: 229px;
					}
			.beer main section#curator .right {
				width: 40%;
			}
			.beer main section#curator h2 {
				font-size: 42px;
				text-transform: uppercase;
				margin-bottom: 30px;
				margin-top: 150px;
				width: 100%;
			}
			.beer main section#curator h3 {
				line-height: 1.6em;
				width: 100%;
			}
			.beer main section#curator button {
				margin-top: 30px;
			}
		
		.beer main section#find {}
			.beer main section#find .bar {
				position: absolute;
				width: 100%;
				background: #EE3423;
				z-index: 1;
			}
				.beer main section#find .bar .content {
					padding: 16px 40px;
					padding: 6px 40px;
				}
				.beer main section#find .bar .content h2 {
					font-size: 42px;
					text-transform: uppercase;
					float: left;
					margin-right: 30px;
					margin-top: 2px;
				}
				.beer main section#find .bar .content form {
					float: left;
					position: relative;
				}
					.beer main section#find .bar .content form .icon-search {
						position: absolute;
						color: #000;
						top: 7px;
						margin-left: 10px;
						font-size: 21px;
					}
					.beer main section#find .bar .content form input {
						height: 38px;
						margin-top: 3px;
						border: 0;
						padding: 0px 10px;
						padding-left: 36px;
						width: 226px;
						outline: 0;
					}
					.beer main section#find .bar .content .right {}
						.beer main section#find .bar .content .right .filters {
							font-size: 18px;
							line-height: 46px;
							float: right;
						}
							.beer main section#find .bar .content .right .filters .filter {
								float: left;
								margin-left: 30px;
							}
								.beer main section#find .bar .content .right .filters .filter.active {
									color: black;
								}
							
			.beer main section#find #results {
				position: absolute;
				left: 0px;
				top: 58px;
				height: 542px;
				background: rgba(0,0,0,0.85);
				width: 40%;
				z-index: 1;
			}
			.beer main section#find #map-canvas {
				position: absolute;
				top: 58px;
				left: 0px;
				width: 100%;
				height: 542px;
			}
				
		.beer main section.interstitial {
			height: 350px;
			min-height: 350px;
			background: url(../img/beer-interstitial.png) 50% 0 no-repeat;
			background-size: cover;
		}
			.beer main section.interstitial .content {
				text-align: center;
			}
				.beer main section.interstitial .content h2 {
					font-size: 36px;
					top: 50%;
					position: absolute;
					width: 100%;
					transform: translateY(-50%);
					left: 0px;
				}
				
				
	/* LEARN */
	
	.learn main section#masthead {
		background: url(../img/masthead-learn.png) 50% 0 no-repeat;
		background-size: cover;
	}
	.learn main section#live-local {
		background: url(../img/bg-grunge.png) 50% 0 repeat-y;
		background-size: 100% auto;
		max-height: none;
		height: auto;
	}
		.learn main section#live-local .content {}
			.learn main section#live-local .content h2 {
				color: #ee3124;
				margin-top: 30px;
			}
			.learn main section#live-local .content .left {
				width: 50%; 
				float: left; 
				display: block;
				margin-bottom: 0px;
				padding-top: 20px;
				padding-right: 20px;
			}
				.learn main section#live-local .content .left .title {
					font-family: 'TradeGothicLTStdBdCn20';
					font-size: 32px; 
					line-height: 1.1em;
					color: #383738; 
					text-transform: uppercase; 
					margin-bottom: 10px;
				}
					.learn main section#live-local .content .left .title.red {
						color: #ee3124;
					}
				.learn main section#live-local .content .left .text {
					font-size: 18px; 
					color: #383738;
					position: relative; 
					line-height: 1.6em; 
					margin-bottom: 50px;
				}
	.learn main section#team {
		background: url(../img/bg-paper.png) 50% 0 repeat;
		position: relative;
	}
		.learn main section#team:before {
			content: '';
			position: absolute;
			left: 0px;
			top: -19px;
			width: 100%;
			height: 20px;
			background: url(../img/paper-edge-top.png) 50% 0 repeat-x;
		}
		.learn main section#team .content {}
			.learn main section#team .content h2 {
				color: #2c2b2c;
				margin-top: 30px;
			}
				.learn main section#team .content .grid {}
					.learn main section#team .content .grid .item {
						width: 100%;
						text-align: center;
					}
						.learn main section#team .content .grid .item .linebreak {
							margin-top: 0px;
						}
						.learn main section#team .content .grid .item .image {
							width: 200px;
							height: 100px;
							background: black;
							margin: 0 auto;
							top: 1px;
							position: relative;
						}
						.learn main section#team .content .grid .item .name {
							font-family: 'TradeGothicLTStdBdCn20';
							font-size: 35px; 
							line-height: 1.1em;
							color: #383738; 
							text-transform: uppercase;
							margin-bottom: 4px;
						}
						.learn main section#team .content .grid .item .title {
							font-family: 'TradeGothicLTStdBdCn20';
							font-size: 18px; 
							line-height: 1.1em;
							color: #383738; 
							text-transform: uppercase;
						}
						.learn main section#team .content .grid .item .description {
							color: #383738; 
							margin: 0 auto;
							margin-top: 30px;
							font-size: 16px;
							line-height: 1.6em;
							width: 90%;
						}
					.learn main section#team .content .grid .col-1 {
						margin-bottom: 60px;
					}
						.learn main section#team .content .grid .col-1 .item {
							width: 100%;
						}
							.learn main section#team .content .grid .col-1 .item .name {
								color: #ee3124;
							}
					.learn main section#team .content .grid .col-3 {
						margin-bottom: 50px;
						display: table;
						width: 100%;
					}
						.learn main section#team .content .grid .col-3 .item {
							width: 33.3333%;
							float: left;
							display: block;
						}
							.learn main section#team .content .grid .col-3 .item .linebreak {
								margin-bottom: 20px;
							}
							.learn main section#team .content .grid .col-3 .item .name {
								font-size: 24px;
							}
							.learn main section#team .content .grid .col-3 .item .title {
								font-size: 16px;
							}
							.learn main section#team .content .grid .col-3 .item .description {
								display: none;
							}
	.learn main section#guest-brewers {
		background: #2c2b2c;
		min-height: 100px;
	}
		.learn main section#guest-brewers .content {}
			.learn main section#guest-brewers .content h2 {
				color: #ee3124;
				font-size: 24px;
				margin-bottom: 40px;
				margin-top: 10px;
			}
			.learn main section#guest-brewers .content .list {}
				.learn main section#guest-brewers .content .list .item {
					min-height: 200px;
					padding-bottom: 40px;
				}
			.learn main section#guest-brewers .content .left {
				width: 150px;
				position: absolute;
			}
				.learn main section#guest-brewers .content .left .image {
					width: 150px;
					height: 150px;
					background: #a0a0a0;
				}
			.learn main section#guest-brewers .content .right {
				width: 100%;
				padding-left: 180px;
			}
				.learn main section#guest-brewers .content .right .linebreak {
					margin: 6px auto;
				}
				.learn main section#guest-brewers .content .right .name {
					font-family: 'TradeGothicLTStdBdCn20';
					font-size: 21px; 
					line-height: 1.1em;
					text-transform: uppercase;
				}
				.learn main section#guest-brewers .content .right .beer {}
					.learn main section#guest-brewers .content .right .beer .brewed {
						font-family: 'fenwayparkjfregular';
						font-size: 21px;
						line-height: 1em;
						font-weight: 400;
						-webkit-font-smoothing: antialiased;
					}
					.learn main section#guest-brewers .content .right .beer .date {
						font-family: 'TradeGothicLTStdBdCn20';
						font-size: 18px; 
						line-height: 1.1em;
						text-transform: uppercase;
						font-weight: 400;
					}
					.learn main section#guest-brewers .content .right .beer .name {
						font-family: 'Local Headline';
						font-size: 21px; 
						line-height: 1.1em;
						text-transform: uppercase;
						font-weight: 400;
						color: #ee3124;
					}
					.learn main section#guest-brewers .content .right .description {
						margin-top: 10px;
						font-size: 16px;
					}
	.learn main section#workshops {
		background: #ee3423;
		color: #2c2b2c;
		font-size: 16px;
		min-height: 100%;
		height: auto;
	}
		.learn main section#workshops .left {
			padding-right: 30px;
		}
			.learn main section#workshops .left h2 {
				font-family: 'fenwayparkjfregular';
				text-transform: capitalize;
				text-shadow: 2px 4px 0px #373737;
				color: white;
				margin-top: 34px;
				margin-bottom: 15px;
				font-size: 60px;
			}
			.learn main section#workshops .left p {
				font-size: 18px;
			}
		.learn main section#workshops .right {
			padding: 40px;
			padding-top: 30px;
			padding-right: 0px;
			max-height: 390px;
			overflow: scroll;
		}
			.learn main section#workshops .right:after {
				content: '';
				position: absolute;
				top: 0px;
				right: 0px;
				width: 50%;
				background: rgba(255, 255, 255, 0.1);
				height: 100%;
				z-index: 0;
			}
			.learn main section#workshops .right h2 {
				color: white;
				font-size: 28px;
				margin-bottom: 28px;
				position: relative;
				z-index: 1;
			}
			.learn main section#workshops .right .list {
				position: relative;
				z-index: 1;
			}
				.learn main section#workshops .right .list .item {
					margin-bottom: 30px;
				}
					.learn main section#workshops .right .list .item .event {
						font-family: 'TradeGothicLTStdBdCn20';
						font-size: 21px; 
						line-height: 1.1em;
						text-transform: uppercase;
						font-weight: 400;
					}
					.learn main section#workshops .right .list .item .event a {
						color: white;
						font-family: 'Trade Gothic Roman';
						text-transform: capitalize;
						font-size: 14px;
						position: relative;
						top: -2px;
						margin-left: 6px;
					}
					.learn main section#workshops .right .list .item .description {
						margin-top: 10px;
						font-size: 16px;
					}
	.learn main section#live {}
	
	
	/* CONTACT */
	
	.contact main section#masthead {
		background: url(../img/masthead-contact.png) 50% 0 no-repeat fixed;
		background-size: cover;
		height: 920px;
		z-index: 0;
	}
		.contact main section#masthead .address {
			margin: 0 auto;
			text-align: center;
			margin: 100px auto 180px;
			max-width: 540px;
		}
		.contact main section#masthead .hours {
			height: auto;
			box-sizing: border-box;
			font-family: 'Local Headline';
			color: #fff;
			z-index: 1;
		}
			.contact main section#masthead .hours:after {
				content: '';
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				height: 550px;
				background: rgba(0, 0, 0, 0.6);
				z-index: -1;
			}
			.contact main section#masthead .hours ul.leaders {
		    max-width: 100%;
		    padding: 0;
		    overflow-x: hidden;
		    list-style: none;
		    max-width: 540px;
				margin: 0 auto;
			}
				.contact main section#masthead .hours ul.leaders li:before {
			    float: left;
			    width: 0;
			    white-space: nowrap;
			    content:
				  ". . . . . . . . . . . . . . . . . . . . "
				  ". . . . . . . . . . . . . . . . . . . . "
				  ". . . . . . . . . . . . . . . . . . . . "
				  ". . . . . . . . . . . . . . . . . . . . ";
			}
				.contact main section#masthead .hours ul.leaders span:first-child {
				    padding-right: 0.33em;
				    position: relative;
				    z-index: 0;
				}
					.contact main section#masthead .hours ul.leaders span:first-child:before {
						content: '';
						background: rgba(0,0,0,0.6);
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    z-index: -1;
				    top: 0px;
				    left: 0px;
					}
					.contact main section#masthead .hours ul.leaders span:first-child:after {
						content: '';
						background: url(../img/masthead-contact.png) 50% 0 no-repeat fixed;
				    background-size: cover;
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    z-index: -2;
				    top: 0px;
				    left: 0px;
					}
				.contact main section#masthead .hours ul.leaders span + span {
				    float: right;
				    padding-left: 0.33em;
				    position: relative;
				    z-index: 0;
				}
					.contact main section#masthead .hours ul.leaders span + span:before {
						content: '';
						background: rgba(0,0,0,0.6);
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    z-index: -1;
				    top: 0px;
				    left: 0px;
					}
					.contact main section#masthead .hours ul.leaders span + span:after {
						content: '';
						background: url(../img/masthead-contact.png) 50% 0 no-repeat fixed;
				    background-size: cover;
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    z-index: -2;
				    top: 0px;
				    left: 0px;
					}

			.contact main section#masthead .hours h5 {
				font-family: 'Trade Gothic Bold';
				font-size: 22px;
				letter-spacing: 1px;
				text-transform: uppercase;
				display: block;
				margin: 15px auto;
				color: white;
				text-align: center;
			}
				.contact main section#masthead .hours ul li {
					font-size: 32px;
					letter-spacing: 1px;
					margin-bottom: 4px;
					font-weight: 100;
					color: white;
					text-align: left;
					line-height: 1em;
				}
					.contact main section#masthead .hours ul li span {
						text-transform: uppercase;
					}
			.contact main section#masthead .phone {
				font-size: 50px;
				color: white;
				text-decoration: none;
				display: block;
				text-align: center;
				margin: 0 auto;
				margin-top: 15px;
			}
		
		.contact main section#map {
			min-height: 300px;
		}
			.contact main section#map #map-canvas {
				width: 100%;
				height: 300px;
			}
			
		.contact main section#contact {
			background: #EE3423;
		}
		
		.contact main section#coalition {
			background: url(../img/bg-paper.png) 50% 0 repeat;
			position: relative;
		}
			.contact main section#coalition:before {
				content: '';
				position: absolute;
				left: 0px;
				top: -19px;
				width: 100%;
				height: 20px;
				background: url(../img/paper-edge-top.png) 50% 0 repeat-x;
			}
		

footer {
	position: relative;
	background: #2c2b2c;
	width: 100%;
	color: white;
	overflow: hidden;
	z-index: 0;
	padding-bottom: 40px;
}
	footer .content {
		margin: 0 auto;
		max-width: 1000px;
		padding: 40px;
		padding-top: 60px;
		z-index:2;
	}
		footer .left {
			position: relative;
			width: 60%;
			float: left;
			padding-right: 40px;
			/*min-width: 610px;*/
			font-family: 'Trade Gothic Bold';
			border-right: 1px solid #a6a6a6;
		}
			footer nav {
				position: relative;
				display: table;
				width: 100%;
			}
				footer nav ul {
					position: relative;
					display: table-cell;
					margin-right: 20px;
					width: 25%;
				}
					footer nav ul li {
						margin-bottom: 14px;
						font-size: 15px;
						text-transform: uppercase;
						color: #a6a6a6;
						line-height: 1.1em;
					}
						footer nav ul li.header {
							font-family: 'Local Headline';
							text-transform: uppercase;
							letter-spacing: 1px;
							font-size: 16px;
							color: white;
							line-height: 1em;
						}
					
			footer .socials {
				position: relative;
				height: 40px;
				margin-top: 30px;
			}
				footer .socials li {
					color: black;
					padding: 0px 5px;
					font-size: 26px;
					float: left;
					line-height: 40px;
					position: relative;
					background: #ee3423;
					border-radius: 50%;
					width: 40px;
					height: 40px;
					text-align: center;
					color: white;
					margin-right: 16px;
					cursor: pointer;
				}
					footer .socials li:hover {
						color: #2c2b2c;
					}
					footer .socials li.instagram {
						font-size: 18px;
					}
					footer .socials li.untappd {
						font-size: 21px;
					}
					
				footer .mailing {
					margin-top: 30px;
				}
					footer .mailing label {
						font-family: 'Local Headline';
						text-transform: uppercase;
						letter-spacing: 1px;
						display: block;
						font-size: 18px;
						margin-bottom: 10px;
					}
					footer .mailing input {
						border: 0;
						outline: 0;
						border-radius: 3px;
						width: 240px;
						height: 40px;
						padding-left: 10px;
					}
					footer .mailing button {
						background: #ee3423;
						border: 0;
						outline: 0;
						border-radius: 3px;
						width: 80px;
						height: 40px;
						color: #FFF;
						position: relative;
						top: 0px;
						display: inline-block;
						margin-left: 4px;
						font-family: 'Trade Gothic Bold';
						letter-spacing: 1px;
						font-weight: 400;
						font-size: 15px;
						padding: 0px;
					}
					
				footer .copyright {
					margin-top: 30px;
					font-size: 10px;
					font-weight: 400;
					color: #a6a6a6;
					font-family: 'Trade Gothic Roman';
				}
					
		footer .right {
			position: relative;
			width: 40%;
			float: right;
			max-width: 310px;
		}
				
			footer .contact {
				font-family: 'Local Headline';
				color: #fff;
				text-align: center;
				max-width: 270px;
			}
				footer .contact .address {
					max-width: 270px;
					margin: auto;
					padding: 0px;
					text-transform: uppercase;
				}
					footer .contact .address a {
						color: inherit;
						text-decoration: none;
					}
					footer .contact .address span:nth-child(1) { 
						font-size: 74px; 
						font-family: 'Trade Gothic Bold';
						display: block;
						float: left;
						line-height: 1em;
					}
					footer .contact .address span:nth-child(2) { 
						font-size: 40px; 
						float: left;
						margin: 7px 0 0 10px;
						line-height: 1em;
					}
					footer .contact .address span:nth-child(3) { 
						color: #ee3423; 
						font-size: 20px;
						float: left;
						margin: 0 0 0 10px;
						line-height: 1em;
					}
				footer .contact .hours {
					height: auto;
					box-sizing: border-box;
				}
					footer .contact .hours ul.leaders {
				    max-width: 100%;
				    padding: 0;
				    overflow-x: hidden;
				    list-style: none
					}
						footer .contact .hours ul.leaders li:before {
					    float: left;
					    width: 0;
					    white-space: nowrap;
					    content:
						  ". . . . . . . . . . . . . . . . . . . . "
						  ". . . . . . . . . . . . . . . . . . . . "
						  ". . . . . . . . . . . . . . . . . . . . "
						  ". . . . . . . . . . . . . . . . . . . . ";
					}
						footer .contact .hours ul.leaders span:first-child {
						    padding-right: 0.33em;
						    background: #2c2b2c;
						    margin-left: 0px;
						}
						footer .contact .hours ul.leaders span + span {
						    float: right;
						    padding-left: 0.33em;
						    background: #2c2b2c
						}
    
					footer .contact .hours h5 {
						font-family: 'Trade Gothic Bold';
						font-size: 16px;
						letter-spacing: 1px;
						text-transform: uppercase;
						display: inline-block;
						margin: 15px auto;
						color: #a6a6a6;
					}
						footer .contact .hours ul li {
							font-size: 18px;
							letter-spacing: 1px;
							margin-bottom: 4px;
							font-weight: 100;
							color: #a6a6a6;
							text-align: left;
							line-height: 1em;
						}
							footer .contact .hours ul li span {
								text-transform: uppercase;
							}
				footer .contact .phone {
					font-size: 35px;
					margin-top: 15px;
					color: #a6a6a6;
					text-decoration: none;
					display: block;
				}
		
		footer .logo {
			position: absolute;
			width: 590px;
			height: auto;
			left: -70px;
			top: 10px;
			z-index: -1;
		}
			footer .logo svg {}
				footer .logo svg path,
				footer .logo svg polygon,
				footer .logo svg rect {
					fill: #363636;
				}


/* Responsive */

@media only screen and (max-width: 999px) {
	
		.home main section#hero .content h1 {
			  font-size: 82px;
				width: 85%;
		}
		
		.home main section#hero .content h3 {
			  font-size: 21px;
				width: 85%;
		}
		
		.home main section#learn .items .item .image {
			width: 160px;
			height: 160px;
			margin-bottom: 40px;
		}
    
    footer .content .left {
	    padding-right: 30px;
    }
    footer .content .right {
	    padding-left: 30px;
    }
    
}

@media only screen and (max-width: 768px) {
	
		header {
			overflow: hidden;
		}
		
		header nav {
			padding: 0px 12px;
		}
	
		header nav .icon-menu {
			display: block;
			font-size: 26px;
		}
		
		header nav ul li.logo {
			z-index: -1;
			top: 0px;
			width: 134px;
			margin-top: -35px;
		}
			header nav ul li.logo:hover {
				background: none;
				margin-top: -35px;
			}
				header nav ul li.logo svg path,
				header nav ul li.logo svg polygon {
					fill: #bf3427;
				}
		
		header nav ul:not(.account) li:not(.logo) {
			display: none;
		}
	
		.home main section#hero .content h1 {
			  font-size: 72px;
				width: 90%;
		}
		
		.home main section#hero .content h3 {
				width: 90%;
		}
		
		.home main section#learn .items .item .image {
			width: 140px;
			height: 140px;
			margin-bottom: 40px;
		}
		
		.home main section#learn .items .item .title {
			font-size: 28px;
		}
		
		.contact main section#masthead {
			height: 850px;
		}
			.contact main section#masthead .address {
			  margin: 100px auto 180px;
			}
			.contact main section#masthead .hours:after {
				height: 480px;
			}
		
		.contact main section#masthead .hours h5 {
			font-size: 21px;
			letter-spacing: 1px;
		}
			.contact main section#masthead .hours ul li {
				font-size: 28px;
			}
		.contact main section#masthead .phone {
			font-size: 42px;
		}
    
    footer {}
    	footer .content {}
	    	footer .content .left {
		    	width: 100%;
					border-right: 0;
					padding-right: 0px;
					min-width: 320px;
	    	}
	    	footer .socials {
		    	display: flex;
					justify-content: space-around;
					height: auto;
	    	}
	    		footer .socials li {
					  font-size: 32px;
					  line-height: 50px;
					  width: 50px;
					  height: 50px;
					}
						footer .socials li.instagram {
							font-size: 24px;
						}
						footer .socials li.untappd {
						  font-size: 28px;
						}
	    	footer .mailing {
		    	text-align: center;
	    	}
	    	footer .copyright {
		    	text-align: center;
	    	}
	    	footer .content .right {
		    	display: none;
	    	}
    
}
   
@media only screen and (max-width: 500px) {
	
	.contact main section#masthead {
		height: 600px;
	}
		.contact main section#masthead .address {
		  margin: 65px auto 110px;
		}
		.contact main section#masthead .hours:after {
			height: 360px;
		}
    
	.contact main section#masthead .hours h5 {
		font-size: 16px;
		letter-spacing: 1px;
	}
		.contact main section#masthead .hours ul li {
			font-size: 22px;
		}
	.contact main section#masthead .phone {
		font-size: 32px;
	}

}



/* ==========================================================================
   Helper classes
   ========================================================================== */
   
/* global */

::-webkit-input-placeholder {
   font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	 font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	 font-weight: 300;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	 font-weight: 300;  
}

:-ms-input-placeholder {  
   font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	 font-weight: 300;  
}

input {
	font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	font-weight: 300;
}
	
	
/* Neutrino global stock animations and transitions */

/* global default transition in */
.nu-transition-visible
{
	animation-name: nu-fade-in;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-fade-in
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
}

/* global default transition out */
.nu-transition-invisible
{
	animation-name: nu-fade-out;
	animation-duration: 200ms;
	animation-timing-function: linear;
}

@keyframes nu-fade-out
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
}

.nu-slide-in
{
	animation-name: nu-slide-in;
	animation-duration: 200ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-in
{
	0%
	{
		transform: translate3d(-100vw, 0, 0);
	}
	
	100%
	{
		transform: translate3d(0, 0, 0);
	}
}

.nu-slide-out
{
	animation-name: nu-slide-out;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-out
{
	0%
	{
		transform: translate3d(0, 0, 0);
	}
	
	100%
	{
		transform: translate3d(-100vw, 0, 0);
	}
}

.nu-slide-out-to-left
{
	animation-name: nu-slide-out-to-left;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-out-to-left {
	0% {
		transform: translate3d(0, 0, 0);
	}
	
	100% {
		transform: translate3d(-100vw, 0, 0);
	}
}

.nu-slide-out-to-right
{
	animation-name: nu-slide-out-to-right;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-out-to-right {
	0% {
		transform: translate3d(0, 0, 0);
	}
	
	100% {
		transform: translate3d(100vw, 0, 0);
	}
}

.nu-slide-out-to-top
{
	animation-name: nu-slide-out-to-top;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-out-to-top {
	0% {
		transform: translate3d(0, 0, 0);
	}
	
	100% {
		transform: translate3d(0, -100vh, 0);
	}
}

.nu-slide-out-to-bottom
{
	animation-name: nu-slide-out-to-bottom;
	animation-duration: 200ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-out-to-bottom {
	0% {
		transform: translate3d(0, 0, 0);
	}
	
	100% {
		transform: translate3d(0, 100vh, 0);
	}
}

.nu-slide-in-from-bottom
{
	animation-name: nu-slide-in-from-bottom;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-in-from-bottom {
	0% {
		transform: translate3d(0, 100vh, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.nu-slide-in-from-top
{
	animation-name: nu-slide-in-from-top;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-in-from-top {
	0% {
		transform: translate3d(0px, -100vh, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.nu-slide-in-from-bottom
{
	animation-name: nu-slide-in-from-bottom;
	animation-duration: 200ms;
	animation-timing-function: linear;
}

.nu-slide-in-from-left
{
	animation-name: nu-slide-in-from-left;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-in-from-left {
	0% {
		transform: translate3d(-100vw, 0, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.nu-slide-in-from-right
{
	animation-name: nu-slide-in-from-right;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-in-from-right {
	0% {
		transform: translate3d(100vw, 0, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}


.nu-fall-forward
{
	animation-name: nu-fall-forward;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-fall-forward {
	0% {
		transform-origin: left bottom;
		transform: rotateX(0);
	}
	
	100% {
		transform-origin: left bottom;
		transform: translate3d(0, 0, -40px) rotateX(-100deg);
	}
}

.nu-open-to-left
{
	animation-name: nu-open-to-left;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-open-to-left {
	0% {
		transform-origin: left center;
		transform: rotateY(0);
	}
	
	100% {
		transform-origin: left center;
		transform: rotateY(-100deg);
	}
}

.nu-open-to-right
{
	animation-name: nu-open-to-right;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-open-to-right {
	0% {
		transform-origin: right center;
		transform: rotateY(0);
	}
	
	100% {
		transform-origin: right center;
		transform: rotateY(100deg);
	}
}

.nu-close-to-left
{
	animation-name: nu-close-to-left;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-close-to-left {
	0% {
		transform-origin: right center;
		transform: rotateY(100deg);
	}
	
	100% {
		transform-origin: right center;
		transform: rotateY(0deg);
	}
}

.nu-close-to-right
{
	animation-name: nu-close-to-right;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-close-to-right {
	0% {
		transform-origin: left center;
		transform: rotateY(-100deg);
	}
	
	100% {
		transform-origin: left center;
		transform: rotateY(0deg);
	}
}

.nu-fade-out
{
	animation-name: nu-fade-out;
	animation-duration: 200ms;
	animation-timing-function: linear;
}

.nu-transition-visible
{
	animation-name: nu-fade-in;
	animation-duration: 0.01ms;
	animation-timing-function: linear;
}

.nu-transition-invisible
{
	animation-name: nu-fade-out;
	animation-duration: 0.01ms;
	animation-timing-function: linear;
	visibility: hidden;
	display:block;
}

/****/

.nu-slide-out-to-left
{
	animation-name: nu-slide-out-to-left;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
}

@keyframes nu-slide-out-to-left {
	0% {
		transform: translateX(0);
	}
	
	100% {
		transform: translateX(-100vw);
	}
}

.nu-slide-out-to-right
{
	animation-name: nu-slide-out-to-right;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
}

@keyframes nu-slide-out-to-right {
	0% {
		transform: translateX(0);
	}
	
	100% {
		transform: translateX(100vw);
	}
}

.nu-slide-in-from-left
{
	animation-name: nu-slide-in-from-left;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
}

@keyframes nu-slide-in-from-left {
	0% {
		transform: translateX(-100vw);
	}
	
	100% {
		transform: translateX(0);
	}
}

.nu-slide-in-from-right
{
	animation-name: nu-slide-in-from-right;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
}

@keyframes nu-slide-in-from-right {
	0% {
		transform: translate3d(100vw, 0, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}
   

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
