<div 
	class="menu-toggle ding"
	p-action-1="(click) hideview: overlay"
>&#8217;</div>

<p-if true="'$params.action;' == 'beer-detail'">
	
	<div class="content">
		<div p-view="single" class="detail single" p-view-params="id: $params.id;; name: $params.name;; slug: $params.slug;; hoppyness: $params.hoppyness;; alcohol: $params.alcohol;; complexity: $params.complexity;;"></div>
	</div>

</p-if>