#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
	z-index: 11;	
	top: 60px;
	color: black;
}

	#overlay .menu-toggle {
		position: absolute;
		padding: 6px 26px;
		font-size: 60px;
		color: white;
		z-index:12;
		right: 0px;
		cursor: pointer;
	}
	
	#overlay .content {
		width: 50%;
	  position: absolute;
	  left: 50%;
	  transform: translate(-50%, -60%);
	  top: 50%;
    border: 6px solid rgba(255, 255, 255, 0.5);
		border-radius: 2px;
		padding: 0;
		display: block;
		overflow: scroll;
	}
	
	#overlay .detail.single {
		position: relative;
	  top: 0px;
	  width: 100%;
	  height: 480px;
	}
		#overlay .detail.single .single-details {
			height: calc(100% - 50px);
			height: -webkit-calc(100% - 50px);
		}
		
	#overlay .save-profile {
		color: white;
	}
		
	#overlay .save-profile.block {
		display: block;
		width: 50%;
		position: absolute;
	  left: 50%;
	  transform: translate(-50%, -70%);
	  top: 50%;
	}
		#overlay .save-profile.block ul {
			height: auto;
			width: 80%;
			display: flex;
			display: -webkit-flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto;
		}
			#overlay .save-profile.block ul li {
				display: block;
				float: left;
				width: 33.333333%;
				height: 100%;
				text-align: center;
				text-transform: uppercase;
				position: relative;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: -0.5px;
				font-family: 'Trade Gothic Bold';
			}
				#overlay .save-profile.block ul li:last-child { border-right: none; }
				
				#overlay .save-profile.block ul li [class^="icon-"]:before, 
				#overlay .save-profile.block ul li [class*=" icon-"]:before {
					position: absolute;
					left: 0px;
					width: 100%;
					font-size: 72px;
					-webkit-text-stroke: 1px #fff;
					color: transparent;
					height:100%;
					line-height: 80px;
					/*
					text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
					color: rgba(0,0,0,0.9);
					*/
					/* text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); */
				}		
				
				#overlay .save-profile.block ul li .filter-value {
					margin-top: 9px;
					line-height: 80px;
					z-index: 1;
					color: #FFF;
					position: relative;
					letter-spacing: -1px;
					font-size: 21px;
				}
				
				#overlay .save-profile.block ul li .filter-name { 
					margin-top: 10px; 
				}
				
		#overlay .save-profile.block h1 {
			margin: 50px auto 20px;
			text-align: center;
			font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif;
			font-weight: 200;
			font-size: 21px;
		}
		
		#overlay .save-profile input[type="text"] {
			background: none;
			border: 0;
			color: #FFF;
			width: 100%;
			padding: 15px;
			border-bottom: 1px solid #FFF;
			margin-bottom: 20px;
			font-size: 21px;
			box-sizing: border-box;
			outline: 0;
			border-radius: 0px !important;
		}
		
		#overlay .save-profile button {
			background: none;
			border: 0;
			outline: 0;
			margin: 0 auto;
			color: white;
			font-size: 21px;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif;
			font-weight: 200;
			cursor: pointer;
		}
			#overlay .save-profile button:hover,
			#overlay .save-profile button:active {
				color: #EE3423;
			}
			
@media only screen and (max-width: 767px) {
	
	body.p-tablet #overlay,
	body.p-handheld #overlay {
		background: none;
		top: 60px;
	}
		body.p-tablet #overlay .menu-toggle,
		body.p-handheld #overlay .menu-toggle {
			display: none;
		}
	
	body.p-tablet #overlay .content,
	body.p-handheld #overlay .content {
  width: 100%;
  position: absolute;
  left: 0px;
  transform: translate(0, 0);
  top: 0px;
  border: 0;
  height: 100%;
}
	body.p-tablet #overlay .detail.single,
	body.p-handheld #overlay .detail.single {
	  height: calc(100% - 60px);
		height: -webkit-calc(100% - 60px);
	}
	
	#overlay .save-profile-bg,
	#overlay .account-bg {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.85);
	}
	
	#overlay .save-profile.block {
		width: 80%;
	}
	
	#overlay .detail.single .single-details {
		height: calc(100% - 50px);
		height: -webkit-calc(100% - 50px);
	}
    
}

@media only screen and (max-width: 699px) {
	
    
}
   
@media only screen and (max-width: 500px) {
	
}