<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 216 216" enable-background="new 0 0 216 216" xml:space="preserve">
<defs>
  <filter id="f3" x="0" y="0" width="200%" height="200%">
    <feOffset result="offOut" in="SourceAlpha" dx="20" dy="20" />
    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="10" />
    <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
  </filter>
</defs>
<g>
	<path fill="#FFFFFF" d="M113.8,49.5l-2.9-48.2L79.7,48.8l-14.1-0.7c0-0.1,0-0.1-0.1-0.2c0.6,0,0.5-0.1,0.9,0.1
		c-0.4-0.6-1.1-1.1-1-1.7c-1.8-1-2.6,0.1-3.7,0.8c0.1,0.2,0.1,0.5,0.1,0.7L57,47.7c-0.2-0.2-0.5-0.2-0.8-0.3
		c-0.1,0.1-0.1,0.2-0.1,0.3l-1.7-0.1c-0.1-0.3-0.4-0.7-0.4-1c-0.2,0.2,0,0.6,0.1,1l-6.9-0.3c0,0,0,0,0,0c-0.1,0-0.2,0-0.3,0
		l-23.3-1.1l22.3,36.1L113.8,49.5z M85.7,46.1c0.3,0,0.3,0.2,0.6,0.2c-0.1-0.3-0.5-0.5,0-0.6c0.1,0.3,0.4,0.3,0.3,0.8
		c-0.1,0-0.3,0-0.3,0.1C86,46.5,85.6,46.5,85.7,46.1z M65.2,48.1l-0.2,0C65,48,65.1,48,65.2,48.1z M64.9,48.1
		C64.9,48.1,64.9,48.1,64.9,48.1C64.9,48.1,64.9,48.1,64.9,48.1C64.9,48.1,64.9,48.1,64.9,48.1z M64.7,48.1l-0.4,0
		c0-0.1-0.1-0.1-0.1-0.2C64.5,47.9,64.6,48,64.7,48.1z M64.1,48.1l-0.7,0C63.7,47.9,63.9,47.8,64.1,48.1z M62.4,47.4
		c0.4,0,0.6,0.3,0.7,0.6l-1,0C62.2,47.8,62.3,47.6,62.4,47.4z M39,49.4c0-0.2-0.2-0.2-0.5-0.2c0-0.3,0-0.5,0.1-0.8
		c0.4-0.1,0.3,0.3,0.6,0.4c0-0.1,0-0.3,0.2-0.3C39.3,48.8,39.2,49.2,39,49.4z"/>
	<path fill="#FFFFFF" d="M179.3,133.1l-95.2,48.8l66.7,16.6L179.3,133.1z M151.9,163.7c1-0.3,1.6,0.3,2.3,0.6
		c0.4,0.7-0.1,1.8,0.3,2.6c-0.4,1-1.7,0.6-2.7,0.8c-0.3-0.9,0-2.2-0.8-2.7C151.7,164.9,152.2,164.5,151.9,163.7z M129.8,175.3
		c0.2,0.1,0.6,0.6,0.1,0.8C130,175.8,129.5,175.5,129.8,175.3z M107.8,184.1c0.2-0.7-0.2,0-0.5-0.6c0.2-0.1,0.5-0.7,0.6-0.5
		c-0.1,0-0.2,0-0.1,0.2c0.4,0,0.3,0.5,0.4,0.9C108,184.1,107.9,184.1,107.8,184.1z M123.8,180.9c0.3,0.1,0.2,0.4,0.5,0.5
		c0.1,0,0.1-0.2,0.2-0.2C124.9,181.7,123.6,181.5,123.8,180.9z M132.9,179.3c0-0.2-0.3-0.1-0.5-0.1c0-0.3-0.1-0.5-0.3-0.5
		c-0.5,1-1.7,0.2-2.2-0.3c0.1-0.3,0.3-0.4,0.3-0.7c-0.2-0.2-0.5-0.5-0.8-0.2c-0.1-0.5,0.5-0.7-0.1-0.9c0.2,0,0.4-0.1,0.5-0.2
		c0.1,0.2-0.1,0.7,0.2,0.6c0.2-0.3,0.6-0.6,0.5-1.1c0.5,0,1-0.5,1.3-0.3c0.2,0.4,0.6,1.4,1.3,1.6c0.1,0.5-0.2,0.8-0.1,1.3
		c0.2,0.1,0.4,0.1,0.5-0.1C133.2,179.2,133.1,178.8,132.9,179.3z M139.7,188.1c-0.2,0.2-0.5-0.3-0.5,0.1c0.1,0.1,0.2,0.3,0.2,0.6
		c-0.4,0.2-0.9,0.3-1.1,0.7c-0.4-0.3-1-0.5-1-1.3c0.4,0,0.5-0.1,0.3-0.4c-0.3,0.2-0.2,0-0.6,0.2c-0.1-0.3,0.5-0.9-0.2-0.8
		c0-0.8,0.7-0.5,0.5-1.3c0.3-0.1,0.3,0.1,0.4,0.2c0-0.4,0.3-0.4,0.5-0.6c-0.6-0.1,0.2-1.1,0.8-1c0.2,0.4,0.3,0.5,0.7,0.3
		C141.2,185.7,140.4,186.7,139.7,188.1z M140.6,185.6c0.2-0.3,1.2-0.4,0.3-0.4c0.3-0.2,0.5-0.4,1.1-0.2
		C141.6,185.4,141.2,185.7,140.6,185.6z"/>
	<path fill="#FFFFFF" d="M51.2,155l-21.6-41.6l-8.4,4.4l8.4,16.2c0.2-0.1,0.3-0.1,0.6-0.1c0.2,0.5,0.7,0.2,1.3,0.6
		c0,0.3-0.2,0.3-0.3,0.4c0.3,0,0.3,0.1,0.1,0.3c0.2,0,0.5,0,0.7,0.1c0-0.3,0.1-0.4,0.3-0.4c-0.2,0.8,1,1,1.8,1.2
		c0.2,0.5,0.6,0.8,0.9,1.1c0-0.3,0.1-0.4,0.3-0.4c0.2,0.4-0.4,0.6,0,0.8c0.1-0.2,0.2-0.3,0.3-0.4c0,0.3-0.4,1,0,1.2
		c0-0.2,0-0.4,0.3-0.3c0.2,0.2,0,0.8,0.6,0.7c-0.3,0.4-0.3,0.2,0,0.9c-0.4,0.2-0.5-0.6-0.6-0.2c0.3,0.2,0.2,0.5,0.2,0.8
		c-0.1-0.2-0.1-0.4-0.2-0.6c-0.2-0.1-0.3,0.1-0.3,0.3c-0.4-0.2,0-1,0-1.2c-0.1,0.1-0.2,0.3-0.3,0.4c-0.4-0.2,0.2-0.4,0-0.8
		c-0.2,0.1-0.3,0.2-0.3,0.4c-0.3-0.4-0.7-0.6-0.9-1.1c-0.8-0.3-2-0.4-1.8-1.2c-0.2,0.1-0.3,0.2-0.3,0.4c-0.2,0-0.5,0-0.7-0.1
		c0.2-0.2,0.1-0.3-0.1-0.3c0.1-0.1,0.3-0.1,0.3-0.4c-0.6-0.3-1.1-0.1-1.3-0.6c-0.4,0-0.5,0-0.6,0.1c-0.1,0-0.2,0.1-0.5,0.1
		c-0.1,0.7-0.2,0.7,0.2,0.8c-0.1,0.5-0.3-0.2-0.6,0c-0.2,0.1,0,0.8-0.4,0.6c0,0.7,0.5,0.9,0.8,1.4c0.3-0.2,0.8-0.1,1-0.4
		c0.4,0.7,0.5,1.6,1.2,1.9c-0.2,0.2-0.1,0.7-0.1,1.1c0.7,0.3,0.5,0.3,0.5,1.1c0.2-0.1,0.3-0.2,0.3-0.4c0.2,0.1,0.2,0.4,0.4,0.3
		c-0.1,0.2-0.2,0.3-0.4,0.3c0.1,0.5,1,0.2,0.9,0.8c0.4,0.1,0.5-0.2,0.4-0.6c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0,0.1,0c0,0,0,0.1,0,0.1
		l0.1,0.3c0.2-0.2,0.2-0.6,0.6-0.6l12.5,24.1l21.6-11.2l-3.8-7.3L51.2,155z"/>
	<path fill="#FFFFFF" d="M69.9,147.1c0.1,0.4,0.5,0.7,0.9,0.8C70.8,147.4,70.2,146.9,69.9,147.1z"/>
	<path fill="#FFFFFF" d="M165.9,87c-0.1-0.7-0.7-0.3-1.2-0.4c0.4-0.2,0.7-0.6,1.2-0.6c0.7,0.2,0.4,0.9,0.2,1.5
		c-0.3-0.1-0.6-0.1-1-0.1l1.4,2.7l0.2,0.3l0.1,0.2l0.1,0.2l0.9,1.8c0,0,0,0,0,0c0.2,0.2,0.6,0.3,0.4,0.8c0-0.1-0.1-0.1-0.1-0.1
		l1.3,2.5c-0.2-0.1-0.5-0.3-0.6,0c0.3,0.1,0.2,0.5,0.5,0.6c0.1-0.2,0.2-0.1,0.3-0.2l2.8,5.3l1.2-0.6c0.1,0.1,0.1,0.3,0.2,0.4
		c0.5-0.3,0.6,0.1,0.7,0.5c0,0.1,0.1,0.2,0.1,0.3c0.1,0.1,0.1,0.2,0.2,0.3c0.1-0.4,0.4-0.4,0.6-0.5c0.5,0.3,0.7,0.8,1.5,1
		c0.6-0.8,0.1-0.9,0.1-1.8c-0.3,0-0.5,0-0.9-0.1L176,101c0,0,0-0.1-0.1-0.1c0,0,0,0,0-0.1c-0.1-0.1-0.2-0.1-0.5,0
		c-0.4-0.7-0.5-1.5-0.6-2.3c0.1,0.2,0.3,0.3,0.6,0.3c0.1-0.6,0.1-0.8,0.6-0.8c0,0,0.1,0,0.1,0c0,0,0,0,0,0c-0.1-0.3,0-0.4,0.2-0.6
		c0-0.1,0-0.2,0.1-0.4c-0.5,0.2-0.9,0.6-1.5,0.5c0.2,0.3-0.8,0.4-0.5,1c-0.7-0.1-0.7,0.2-0.7,0.8c0,0-0.1,0-0.1,0
		c-0.2-0.6-0.3-1.3-0.4-1.9c0.1,0.2,0.3,0.3,0.6,0.3c0.1-0.6,0.1-0.9,0.7-0.8c-0.3-0.6,0.7-0.7,0.5-1c0.6,0,1-0.4,1.5-0.5
		c-0.1,0.2-0.1,0.3-0.1,0.4c0.2-0.1,0.4-0.3,0.3-0.4c0.6,0,1-0.4,1.5-0.5c-0.3,0.5-0.1,0.7,0.2,0.9c-0.1,0.3-0.7-0.2-0.7,0.3
		c-0.3,1,0.5,1.4-0.2,2.3c-0.1,0.4,0.5-0.2,0.2,0.4c0.1,0,0.2,0.1,0.2,0.1l0.2-0.1c0.1-0.2,0.2-0.3,0.3-0.4c0.1-0.1,0.1-0.3,0.2-0.5
		c0.1,0.1,0.2,0.2,0.3,0.2c0.1,0.1,0.2,0.1,0.3,0.2l0.9-0.4c0.1-0.1,0.1-0.3,0.2-0.5c0.1,0.1,0.2,0.2,0.3,0.2l13.6-7.1l-3.8-7.3
		l-11.5,6c0,0.1,0,0.2,0,0.3c0.3,0.1,0.6,0.2,0.9,0.3c-0.3,0.5-0.8,0.1-0.9,0.2c0,0.1,0.2,0.2,0.3,0.2c0,0.2-0.1,0.3-0.1,0.5
		c-0.1-0.5-0.5-0.8-1-1.1l-0.8,0.4c0,0,0,0,0,0c0.3,0.1,0.6,0.2,0.9,0.3c-0.3,0.5-0.8,0.1-0.9,0.2c0,0.1,0.2,0.2,0.3,0.2
		c0,0.2-0.1,0.3-0.1,0.5c-0.1-0.5-0.5-0.8-1-1.1c-0.1-0.1-0.2-0.1-0.3-0.2c0.1-0.2,0.5-0.5,0.8-0.5l-21.4-41l-8.4,4.4L164.8,87
		C165.1,86.7,165.7,86.7,165.9,87z M171.3,93.7c-0.1,0.2,0,0.3,0.1,0.3c-0.1,0.2-0.3,0-0.4,0.2c-0.3-0.1-0.2-0.5-0.5-0.6
		C170.6,93.2,171,93.7,171.3,93.7z M169.4,92.1c0.2,0.2,0.6,0.3,0.4,0.8c-0.2-0.4-0.5,0-0.7-0.4C169.3,92.4,169.4,92.3,169.4,92.1z
		 M169.3,94.1c0.1,0.1,0.3,0.1,0.4,0.1c0,0,0,0.1,0,0.1c0,0.1,0,0.2,0.1,0.2c-0.1,0.2-0.3,0-0.4,0.2c-0.3-0.1-0.2-0.5-0.5-0.6
		C168.9,93.9,169.1,94,169.3,94.1z M166.9,88.6c0,0.3-0.3,0.2-0.5,0.2c0,0.2,0.3,0.2,0.6,0.3c-0.1,0.3-0.6-0.1-0.8-0.1
		C166.2,88.5,166.7,88.3,166.9,88.6z"/>
	<path fill="#FFFFFF" d="M167.8,94.3C167.8,94.3,167.8,94.3,167.8,94.3l0.3,0.6c0,0,0.1,0.1,0.1,0.1C168.4,94.6,168,94.5,167.8,94.3
		z"/>
	<path fill="#FFFFFF" d="M163.2,89.1c-0.2,0.1-0.2,0.3-0.2,0.5c0.2,0,0.3,0,0.4,0L163.2,89.1z"/>
	<path fill="#FFFFFF" d="M180.7,100.7c-0.1-0.3-1-0.6-1.7-0.9c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1-0.1-0.2-0.2-0.3-0.2
		c-0.1,0.2-0.2,0.4-0.2,0.5c-0.1,0.2-0.2,0.3-0.3,0.4c-0.1,0.1-0.1,0.2-0.2,0.3c0.5,0.1,0.6,0.5,1.2,0.5c0.1-0.4,0.4-0.4,0.6-0.5
		c-0.1,0.4,0.5,0.5,1,0.6C180.6,101.1,180.7,100.9,180.7,100.7z"/>
	<path fill="#FFFFFF" d="M98.8,125c0,0.6,0.7,0.2,0.7,0.9c0.5-0.4,0.8-1.1,0.9-1.7c-0.3-0.1-0.5-0.2-0.6-0.3c0,0.5-0.3,0.3-0.4,0.7
		c0.2,0.1,0.4,0.1,0.4,0.3C99.6,125.1,99,125.3,98.8,125z"/>
	<path fill="#FFFFFF" d="M92.9,123.6c0-0.4,0-0.7,0-1.1c-0.6-0.1-0.2,0.7-0.4,1.1C92.7,123.6,92.8,123.6,92.9,123.6z"/>
	<path fill="#FFFFFF" d="M93,127.6l-7.8-14.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.3,0-0.6,0-0.9,0.1c0-0.1-0.1-0.2-0.1-0.3
		c-0.3-0.9-0.1-1.8,0.5-2.4l-3.9-7.6c-3.6-6.9-10.6-10.4-19.4-5.8c-8.8,4.6-9.9,12.3-6.3,19.2L67.2,141c0.2,0.4,0.4,0.8,0.6,1.1
		c0,0.1,0.1,0.1,0.1,0.2c3.8,6,10.4,8.8,18.6,4.5C95.4,142.2,96.6,134.5,93,127.6z M92.8,131.8c0.3,0.1,1.5,0.2,0.9,0.7
		c-0.2-0.3-0.4,0.3-1,0.4c0,0.4,0.4,0.4,0.5,0.7c0,0,0.1,0.1,0.1,0.1c-0.2,0-0.4-0.1-0.5-0.3C92.5,133,92.5,132.3,92.8,131.8z
		 M81.2,115.6c0,0.7,0.9,1.4,0.7,1.8c-0.1-0.5-0.3,0.1-0.6,0C81.6,116.9,80.8,116,81.2,115.6z M65.7,131.1c0.1-0.4,0-0.6-0.3-0.6
		c0.2,0.6,0,0.5-0.3,0.8c0.5,0.3,0.6,0.1,1.1-0.3c0,0.5-0.2,0.7-0.5,0.8c-0.1,0-0.3,0.1-0.4,0.1c-0.2,0-0.4,0-0.6,0
		c0.1-0.6,0.2-0.8,0-1.4c0.3-0.1,0.6-0.4,1.1-0.3c-0.2,0.5,0.4,0.3,0.5,0.6C65.8,130.6,65.9,131.1,65.7,131.1z M68,139.7
		c0.4,0.4,0.9-0.2,0.8-0.6c0.4,0.6,0.9,1.2,1.4,1.8C69.3,140.2,67.4,141.6,68,139.7z M81,145.5c0-0.1-0.1-0.1-0.2-0.1
		c-0.2,0.1-0.4,0.3-0.6,0.2c-0.1-0.1-0.1-0.3-0.2-0.5c-0.1-0.3-0.2-0.7,0.1-1c-0.2,0-0.2,0.2-0.5,0.1c0.4-0.7,0.2-0.5,0.7-1.2
		c0,0.2,0.2,0.2,0.5,0.2C80.8,144.2,81.4,145,81,145.5z M85.6,136.4c-0.3,1.2-1.1,2.2-2.8,3.1c-3.4,1.8-5.4,0.6-7.3-3.1l-12.9-24.8
		c-0.6-1.1-1-2.1-1.1-3c-0.4-2,0.4-3.5,2.8-4.7c3.4-1.8,5.4-0.6,7.3,3.1l12.9,24.8C85.4,133.6,85.9,135.1,85.6,136.4z M89,127.1
		c0.2-0.5-0.2-0.8,0.2-1.1c0,0.2,0.3,0,0.3-0.2c-0.1,0-0.2-0.1,0-0.2C89.8,126.2,89.4,126.9,89,127.1z M90.7,128.2
		c-0.4-0.1-0.3,0.3-0.6,0.3c0.2-0.6,0-0.4,0.2-0.9C90.6,127.5,90.7,127.8,90.7,128.2z"/>
	<path fill="#FFFFFF" d="M98.1,86.2c2.2-1.1,5-0.4,7.1,3.8l2,3.8l8.4-4.4l-1.9-3.6c-3.8-7.3-11-11.3-19.4-6.9
		c-8.8,4.6-9.9,12.3-6.3,19.2l13.1,25.2c0.8,1.5,1.7,2.8,2.7,3.9c0.7,0.7,1.4,1.4,2.2,1.9c0.6,0.4,1.2,0.7,1.8,1
		c0.3,0.1,0.5,0.2,0.8,0.3c1,0.4,2.1,0.6,3.3,0.7c0.1,0,0.1,0,0.2,0c2.5,0.1,5.3-0.5,8.3-2c8.4-4.4,9.5-12.1,5.9-19l-2.9-5.6
		l-8.4,4.4l3.1,5.9c1.7,3.2,1.6,5.5-1.5,7.1c-3.4,1.8-5.4,0.6-7.3-3.1L96.5,94C94.6,90.3,94.7,88,98.1,86.2z M122.7,115.1
		c0,0.3,0.1,0.5,0.5,0.5c0.2-0.1,0.4-0.2,0.5-0.3c-0.1-1.2,0.8-0.3,0.4-1.6c0.2-0.2,0.8-0.2,1,0c0-0.7,0.7-0.7,1.3-0.9
		c1.1,0.6,1,1.3,0.6,2c-0.1-0.1-0.3-0.3-0.6-0.4c-0.6,0.2-1.2,0.2-1.3,0.9c-0.2-0.2-0.7-0.2-1,0c0.5,1.2-0.5,0.4-0.4,1.6
		c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1,0c0-0.6-0.7-1.3-1.1-0.7C122,115.9,122.2,115.2,122.7,115.1z M110,125.1
		c-0.1,1.3,0.4,2.3,1.4,3.1c0,0.3-0.2,0.4-0.3,0.6c0.6,0.3,0.5,0.2,1.2,0.4c0.3,0.3-0.4,0.4,0,0.7c-0.3,0.3-0.5,0.3-0.9,0.1
		c-0.1,0-0.2-0.1-0.3-0.1c0,0,0.1-0.1,0.1-0.1c0.4-0.2,0.9,0.3,0.7-0.5c-0.4,0.1-0.8,0.1-1.2,0c-0.8-0.2-1.7-0.5-2.7-0.2
		c-0.2-0.7-1-1.9-2-1.4c-0.6-0.3-1.3-0.8-1.8-1.4c-0.4-0.4-0.6-0.9-0.7-1.4c0.6-0.5,1.4-0.1,2.2-0.3c0.6-0.1,1.1-0.8,1.6-0.8
		C108.4,123.6,109,124.4,110,125.1z M102,119.3c0.7,0.4,1.1,0.2,1.5,0.6c0.6,0.1,0.1-0.5,0.5-0.7c0.7,0.3,1.1,0,1.4-0.4
		c0.2,0.1,0,0.5,0.5,0.5c-0.5,0.3-0.9,0.2-0.8,1.1c-0.3,0.1-0.5,0.1-0.6,0.5c-0.4-0.6-0.9,0.2-1.3,0.4c-0.3,0-0.5-1-0.8-0.2
		c-0.5,0-0.2-0.5-0.7-0.5C102.4,120.2,102.2,119.9,102,119.3z M93.7,91.8c0-0.5,0.8-0.6,0.8-0.1C94.3,91.8,94.1,91.8,93.7,91.8z"/>
	<path fill="#FFFFFF" d="M131.8,60.2l-10.4,5.4l16.4,53.6l8.1-4.2l-4.2-11.6l9.2-4.8l7.1,10.1l8.1-4.2L131.8,60.2z M145.1,92.4
		l-5.9,3.1l-6.8-20.2l-0.8-2.5l0.1-0.1L146,91.9L145.1,92.4z"/>
	<path fill="#FFFFFF" d="M153.3,203.3l-65.8-15.5l6.6,4.1l67.7,18.1l9.4-21.5c-0.1,0-0.2,0.1-0.3,0.2c-0.4-0.3-0.3-0.5-0.6-0.8
		c0.5-0.3,0.5-0.3,1-0.7c0,0.2,0.1,0.3,0.3,0.5l18.8-43.1l-5.4-14.3L153.3,203.3z M165.4,180.2c0-0.4-0.4-0.2-0.4-0.5
		c0.1,0,0.2-0.1,0.4-0.2C165.4,179.7,165.7,180,165.4,180.2z M166,181.6c-0.1,0.1-0.2-0.1-0.4,0c-0.2-0.2,0.1-0.4-0.1-0.6
		c0.2-0.2,0.4,0.3,0.6,0.4C166,181.4,166,181.5,166,181.6z M170.4,185.5c-0.2,0.2-0.4-0.4-0.6-0.1c-0.6,0.6-0.2,1.2-1,1.6
		c-0.3,0.3,0.5,0,0,0.4c0.2,0.3,0.5,0.4,0.7,0.5c-0.3,0.6,0,1-0.7,1.3c-0.5-0.4-0.5-0.8-0.7-1.3c-0.2-0.1-0.4-0.1-0.6,0.1
		c-0.3-0.3,0.4-1.1-0.4-1.1c0-0.6,0.2-1.3,0.4-1.9c0,0.2,0.1,0.3,0.3,0.5c0.3-0.4,0.4-0.6,0.8-0.3c0-0.5,0.8-0.3,0.7-0.6
		c0.4,0.2,0.9,0.1,1.3,0.2C170.1,185,170.2,185.2,170.4,185.5z M173,181.3c-0.1,0.1,0,0.2,0.1,0.3c-0.1,0.1-0.2,0.2-0.3,0.3
		c0.2-0.5-0.2-0.9-0.5-1.4c0.3-0.3,1.3-0.1,0.8,0.4c0.2,0.2,0.4,0.4,0.6,0.5C173.3,181.7,173.1,181.2,173,181.3z"/>
	<path fill="#FFFFFF" d="M172.7,180.9c0.1,0.1,0.2,0,0.3-0.1c0.1,0.1,0,0.2-0.1,0.3c0.1,0.1,0.2,0,0.3-0.1c0-0.1-0.1-0.2-0.2-0.4
		C172.9,180.7,172.8,180.8,172.7,180.9z"/>
	<path fill="#FFFFFF" d="M193.5,113.7c-0.5,0.7,0.2,1.6,1.2,1.9C194.8,114.7,194.1,114.2,193.5,113.7z"/>
	<path fill="#FFFFFF" d="M194.3,85.1c-1-0.4-0.5-0.2-1.5-1c-0.3,0.7,0,0.7-0.2,1.2C193.1,85.5,193.8,85.9,194.3,85.1z"/>
	<path fill="#FFFFFF" d="M193.7,80c-0.4,0.5-0.9-0.2-1.2,0.2c-0.6,1.2,0,1.7,1.2,2.5c0.1-0.1,0.1-0.3,0.3-0.2c0-0.6,0.6-0.5,0.8-0.8
		C194.6,81,194,80.6,193.7,80z"/>
	<path fill="#FFFFFF" d="M34.7,87.3c-0.3-0.5-0.6,0.3-0.5,0.8c0.2,0,0.1-0.2,0.2-0.3c0.2,0,0.1,0.3,0.1,0.5
		C35.3,88.1,34.2,87.5,34.7,87.3z"/>
	<path fill="#FFFFFF" d="M59.6,44.2c0.1-0.4,0-0.7-0.4-0.7C58.9,43.8,59.2,44.2,59.6,44.2z"/>
	<path fill="#FFFFFF" d="M56.6,47c0.1-0.4,0-0.7-0.4-0.7C56.1,46.7,56,47.1,56.6,47z"/>
	<path fill="#FFFFFF" d="M55,47.2c0.5,0.2,0.2-0.5,0.7-0.3c-0.2-0.6,0.5-1.1,0.5-2c-0.7,0.3-0.4,0.3-1.2,0.6
		C55.1,46.1,54.9,46.7,55,47.2z"/>
	<path fill="#FFFFFF" d="M82.5,77.7c-0.3-0.2-0.4-0.5-0.9-0.5c-0.4,0.3,0.1,0.5,0,0.9C82.3,78.5,82,77.7,82.5,77.7z"/>
	<path fill="#FFFFFF" d="M80,77.2c0.5-0.1,0.2,0.6,0.8,0.3c-0.1-0.2-0.2-0.4-0.1-0.8C80.2,76.7,79.9,76.7,80,77.2z"/>
	<path fill="#FFFFFF" d="M50.4,85l3.3,1.3l23.6-10.7c0,0.1,0,0.3,0,0.5c0.5-0.1,0.7-0.5,1.1-0.6c-0.1-0.1-0.1-0.2-0.1-0.4L124,54.5
		l-2-33.4c0.1,0.1,0.1,0.1,0.1,0.3c0.4-0.3,0.1-0.6,0.1-0.9c-0.1,0.1-0.1,0.1-0.2,0.1l-0.3-4.3c0.1,0,0.2,0,0.3-0.1
		c0-0.2-0.1-0.3-0.3-0.3l-0.1-1.3c0.1,0.1,0.2,0.2,0.3,0.3c0.6-0.4,1.2-0.9,0.7-1.4c-0.3-0.2-0.7-0.2-1-0.1l-0.4-7.1L113.9,0
		l3.6,50.4L50.4,85z M81,72.9c-0.5,0.1-0.6,0.5-1.1,0.6c-0.1-1.2,0.1-1.4,0.2-2.7c0.5,0,0.4,1,0.9,0.5C81.2,72,80.7,72.5,81,72.9z
		 M122.1,14.3c0-0.3-0.2-0.5-0.5-0.6l0-0.2C121.9,13.7,122.3,13.8,122.1,14.3z"/>
	<path fill="#FFFFFF" d="M72,82.8c-0.2,0-0.4,1.2,0.1,1C71.9,83.3,72.3,83.2,72,82.8z"/>
	<path fill="#FFFFFF" d="M69,87.4c-0.3,0-0.5,0-0.5-0.3c-0.3,0.8,0.3,1.1,0.1,1.7c0.4-0.4,0.4-1.1,1.1-1.1c-0.6-0.1,0-0.8-0.8-1.1
		C68.6,87,69.5,87.1,69,87.4z"/>
	<path fill="#FFFFFF" d="M75.2,180.3c0.4-0.2,0.2-1,0.4-1.1C75.1,179,74.9,179.8,75.2,180.3z"/>
	<path fill="#FFFFFF" d="M72,188.5c0.4-0.3,0.5-1.1,0-1.4c-0.5,0.1,0.4,0.3,0.1,0.6c-0.6-0.4,0.2,0.2-0.5,0.1c0,0.3,0,0.5,0,0.8
		c0.6-0.1,0.6,0.4,0.8,0.7c0.3-0.3,0.3,0.1,0.6-0.1C72.5,189.1,72.7,188.3,72,188.5z"/>
	<path fill="#FFFFFF" d="M76.7,186.8c-0.3-0.2,0.4,0.5-0.2,0.8c0.7,0.2,0.2-0.9,0.8-0.8C77.2,186,76.9,187.3,76.7,186.8z"/>
	<path fill="#FFFFFF" d="M51.8,134.2c0-0.3,0.5-0.1,0.6-0.3c0-0.2,0-0.4,0-0.6c-0.5,0.1-0.8-0.1-0.6-0.7c-0.4,0.2-0.4,0-0.8,0.3
		c0-0.2,0-0.3,0.2-0.3c0-0.3-0.6,0.1-0.8,0.1c-0.1,0.3,0.1,0.3,0.1,0.5c-0.2,0.4-0.7-0.3-0.6,0.5c-0.2-0.1-0.2-0.4-0.5-0.3
		c0.5,0.4-0.3,2.2,1,2.4c0.4,0.1-0.2,0.2,0.1,0.5c0.3,0,0.5,0,0.8,0c0.1-0.5,0.8-0.5,1.1-0.8c-0.3-0.3-0.3-0.6,0-0.9
		C52.3,134.3,52,134.7,51.8,134.2z"/>
	<path fill="#FFFFFF" d="M39.9,133.2c0.5-0.1,0.5-0.1,0.8,0.5c0.7-0.2-0.1-0.8-0.3-1.1C40.1,132.7,40.3,133.2,39.9,133.2z"/>
	<path fill="#FFFFFF" d="M64.2,44.1c-0.1,0.1-0.3,0.1-0.3,0.3c0,0.1,0,0.2,0,0.3c0.4-0.3,0.5,0.1,0.8,0.2c-0.1,0.3-0.4-0.3-0.6,0.1
		c-0.1,0.3,0.1,0.4,0.1,0.6c0.2-0.1,0.4-0.2,0.5-0.4c0.2,0.1,0.1,0.4,0.1,0.6c0.4-0.2,0.4-0.6,1-0.2c0-0.9-0.9-2.1-0.4-2.9
		c-0.3,0-0.5-0.1-0.5-0.4c-0.6,0.4-0.3,0-1.1-0.1c0.4,0.6,0.5,1.4,0.8,2.1C64.5,44.8,64.1,44.3,64.2,44.1z"/>
	<path fill="#FFFFFF" d="M53.9,38.7c0.3,0.3,0.4,0,0.8,0.1c-0.1-0.6-0.6-0.2-0.9-0.1C53.6,39.3,53.9,39.3,53.9,38.7z"/>
	<path fill="#FFFFFF" d="M78.4,80.3c0.9-0.4,0,0.4,0.3,0.6c1.2,0.4,1.1-1.3,1.8-0.9c0.3-0.3-0.6-0.8-0.4-1.4
		c-0.6,0.3-0.5,0.8-1.3,0.3C79.4,79.7,78.6,79.5,78.4,80.3z"/>
	<path fill="#FFFFFF" d="M87.2,157.3c-0.4,0.2-0.3,1.4,0.4,1.1C87.8,157.8,87.2,157.8,87.2,157.3z"/>
	<path fill="#FFFFFF" d="M78.1,175.6c-0.1-0.3-0.7-0.2-0.9-0.3c-0.1,0.4-0.4,0.6-0.5,1.1c0.3,0.3,1.1,0.3,1.1,1
		C79.1,177.2,78,176,78.1,175.6z"/>
	<path fill="#FFFFFF" d="M81.3,156.3c0.8,0.3,1.6-1,1.7-0.3c0.4-0.1,0.5-0.7,0.8-0.9c-0.2-1.1-1.2-1.3-1.3-2.4
		c-0.8,0.1-0.9-0.6-1.7-0.5c-0.5,1-0.4,2-1.7,2.3c0.2,0.2,0.4,0.5,0.8,0.5c-0.1,0.5-0.3-0.2-0.6,0c0.3,0.5,0.8,0.8,1.1,1.3
		c0.3,0,0.4-0.3,0.3-0.6C81.1,156.1,81.3,155.7,81.3,156.3z"/>
	<path fill="#FFFFFF" d="M172.8,115.5c0.2,0.1,0.2,0.3,0.6,0.3c0.1-0.3,0.2-0.5,0.3-0.6C173.3,114.9,173,115,172.8,115.5z"/>
	<path fill="#FFFFFF" d="M173.1,113.3c-0.2,0.8-0.4,0.1-0.9,0.2c-0.4,1.2,1.5,1.8,1.6,0.2C173.4,113.6,173.6,113.3,173.1,113.3z"/>
	<path fill="#FFFFFF" d="M185,105.1c0.1-1.2-0.7-1.8-1.5-2.4C183,103.7,183.8,104.8,185,105.1z"/>
	<path fill="#FFFFFF" d="M177.3,76.5c0.4-0.6,0.4-0.5,0.9-0.9c-0.4-0.6-1.7-1.3-2.1-0.3C176.5,75.8,176.6,76.3,177.3,76.5z"/>
	<path fill="#FFFFFF" d="M170.6,61.6c0.5,0.1,1.1,0.4,1.4,0.3c0.1-0.4,0-0.7-0.4-0.8C171.3,61.3,170.8,61.2,170.6,61.6z"/>
	<path fill="#FFFFFF" d="M89.1,31c0.2-0.4,0-0.6-0.4-0.7c-0.1,0.2-0.1,0.4-0.2,0.6C88.7,31,89,31.1,89.1,31z"/>
	<path fill="#FFFFFF" d="M125.9,49.1c0.8,0.2,1.1-0.4,1.4-1.2c-0.4-0.4-1-1.2-1.5-0.5C126.5,47.9,125.6,48.5,125.9,49.1z"/>
	<path fill="#FFFFFF" d="M36.7,90c0,0.6,0.7,0.2,0.7,0.9c0.5-0.4,0.8-1.1,0.9-1.7c-0.3-0.1-0.5-0.2-0.6-0.3c0,0.5-0.3,0.3-0.4,0.7
		c0.2,0.1,0.4,0.1,0.4,0.3C37.5,90.1,37,90.4,36.7,90z"/>
	<path fill="#FFFFFF" d="M163.6,61.6c-0.2,0.5,0.3,0.5,0.2,0.9c0.4,0.1,0.6-0.1,0.9-0.2c-0.8-0.3-0.2-0.1,0.1-0.3
		c-0.7-0.3-0.5-1.1-0.8-1.6c-0.4-0.1-0.5,0.1-0.9,0.1c0.1,0.6-0.2,0.4-0.5,0.7C163.1,61.3,163.2,62.1,163.6,61.6z"/>
	<path fill="#FFFFFF" d="M122.3,22.3c0.2,0.3-0.1,0.5,0,0.8c0.2-0.1,0.3,0.1,0.4,0c-0.1-0.1,0-0.2,0.1-0.3
		C122.7,22.7,122.5,22.1,122.3,22.3z"/>
	<path fill="#FFFFFF" d="M131,24.3c0.1-0.1,0.2-0.2,0.4-0.3c-0.1-0.1-0.2-0.2-0.1-0.3c0.2-0.1,0.4,0.5,0.9,0.3
		c-0.2-0.2-0.4-0.5-0.6-0.7c-0.1,0.1-0.2,0.2-0.3,0.1c0.1-0.1,0.2-0.2,0.1-0.3c-0.1,0.1-0.2,0.2-0.3,0.1c0.1-0.1,0.2-0.2,0.4-0.3
		c0.1,0.2,0.2,0.3,0.2,0.5c0.7-0.6-0.6-0.9-1-0.6C130.9,23.2,131.2,23.8,131,24.3z"/>
	<path fill="#FFFFFF" d="M131.4,54.5c-0.1,0.2-0.3,0-0.3,0.3c0.6,0.2,0.5,0.9,0.8,1.3c0.3,0.2,0.3-0.2,0.6-0.1
		c-0.1,0.2,0.2,0.2,0.1,0.5c-0.2,0.3-0.5,0.5-0.7,0.8c0.4,0.5,1,0.9,1.6,1.2c0.4-0.4,0.8,0.3,1.4,0c-0.3,0.7,1.2,0.4,0.9,1.1
		c0.5,0.1,1,0.1,1.4,0c-0.1,0.2,0.1,0.4-0.1,0.7c1,0.2,1.5,0.9,0.9,1.7c0.4,0.7,0.9,0.9,1.8,1.3c0-0.7,0.7-0.3,1-0.4
		c0.1-0.4-0.4-0.8,0.2-0.9c-0.4-0.3-0.9-0.8-0.5-1.3c-1.1,0.1-1.5-0.4-2.4-0.7c-0.2-0.4,0.5-0.5,0-0.8c0.3,0.2,0.5,0,0.8,0.1
		c0-0.3,0.2-0.2,0.3-0.5c-0.2-0.4-0.3-0.1,0-0.7c-0.2-0.3-0.8-0.4-1-0.6c0.1-0.2,0.5,0.1,0.6-0.2c-0.7-0.6-1.1-1.8-1.2-2.1
		c-0.5-0.6-1.2-1.2-1.3-2C134.9,51.5,131.1,51.3,131.4,54.5z"/>
	<path fill="#FFFFFF" d="M123.7,31.1c0.3-0.3,0.5-0.1,0.8,0c0.3,0.5,0.1,1.1,0.8,1.6c0.9-0.3,0.6-0.7,1-1.5
		c-0.3-0.3-0.6-0.3-0.8-0.7c0.6-0.4-0.3-0.2,0-0.4c1-0.3,0.6-1.2,1.4-1.8c0.3-0.3,0.5,0.4,0.8,0.2c-0.1-0.3-0.2-0.6,0.3-0.9
		c-0.5-0.1-1,0-1.5-0.4c0,0.4-0.9-0.1-0.9,0.6c-0.5-0.4-0.6-0.2-1,0.2c-0.2-0.2-0.3-0.4-0.3-0.6c-0.3,0.8-0.7,1.5-0.8,2.3
		C124.3,29.8,123.3,30.7,123.7,31.1z"/>
	<path fill="#FFFFFF" d="M127.8,32.3c0.3-0.3,0.5-0.1,0.8,0c-0.3,0.3,0.2,0.7,0.5,1.1c0.2-0.1,0.3-0.3,0.5-0.4
		c0.1-0.5-1-1.5-1.1-2.3c-0.6,0.4-0.7,0.4-1.3,0.7C127.5,31.6,127.3,32,127.8,32.3z"/>
	<path fill="#FFFFFF" d="M49,96.4c0.5,0.2,0.8,0.4,1.2,0c-0.4-0.3,0.3-0.3,0-0.7c-0.7-0.2-0.6-0.1-1.2-0.4c0.1-0.2,0.3-0.2,0.3-0.6
		c-1-0.7-1.4-1.8-1.4-3.1c-1-0.7-1.6-1.5-2.7-1.5c-0.5,0-1,0.7-1.6,0.8c-0.8,0.2-1.6-0.2-2.2,0.3c0.2,1.1,1.4,2.1,2.5,2.7
		c1-0.5,1.8,0.7,2,1.4c1.5-0.5,2.7,0.6,3.9,0.2C50.1,96.7,49.4,96.1,49,96.4z"/>
	<path fill="#FFFFFF" d="M42.4,87.6c0.1-0.4,0.4-0.4,0.6-0.5c-0.1-0.9,0.3-0.8,0.8-1.1c-0.5,0-0.3-0.3-0.5-0.5
		C43,86,42.6,86.3,41.9,86c-0.5,0.2,0.1,0.7-0.5,0.7c-0.4-0.4-0.8-0.2-1.5-0.6c0.2,0.5,0.4,0.9-0.2,1.3c0.5,0,0.2,0.5,0.7,0.5
		c0.3-0.7,0.5,0.2,0.8,0.2C41.5,87.9,42,87,42.4,87.6z"/>
	<path fill="#FFFFFF" d="M91.2,168.1l-1.1-2.1l-1.7-0.5l0.5-1.7l-1-1.9l-2-0.6l-9.2,4.8l0.8,1.5l1.2-0.6l3.1,5.9l-1.2,0.6l0.8,1.5
		l9.2-4.8L91.2,168.1z M81,165.7l4.2-2.2l0.7,0.2l0.6,1.2l-0.2,0.7l-4.2,2.2L81,165.7z M88.2,169.3l-4.2,2.2l-1.2-2.3L87,167
		l0.7,0.2l0.7,1.4L88.2,169.3z"/>
	<path fill="#FFFFFF" d="M100.3,161.2l1.1,2.1l1.2,0.4l2.4-1.3l-0.8-1.5l-0.8,0.4l-0.1,0l-0.9-1.7l-1.5-0.5l0.5-1.6l-1.1-2.2
		l-2.1-0.6l-9.2,4.8l0.8,1.5l1.2-0.6l3.1,5.9l-1.2,0.6l0.8,1.5l5-2.6l-0.8-1.5l-1.5,0.8l-1-2l4.1-2.1L100.3,161.2z M98.7,159.4
		l-4.1,2.2l-1.2-2.4l4.1-2.2l0.8,0.3l0.7,1.3L98.7,159.4z"/>
	<polygon fill="#FFFFFF" points="106.6,161.6 116.4,156.5 115.1,153.9 113,154.9 113.6,156 109.4,158.3 108.2,156.1 113.3,153.4 
		112.5,151.9 107.4,154.5 106.3,152.4 110.6,150.2 111.1,151.3 113.2,150.2 111.8,147.6 102,152.7 102.8,154.3 104,153.6 107,159.5 
		105.9,160.1 	"/>
	<polygon fill="#FFFFFF" points="130.7,149 128.7,140.7 129.6,140.2 128.8,138.7 124.6,140.9 125.4,142.4 126.8,141.7 128.4,147.9 
		122.8,141.9 119.8,143.4 121.6,151.5 117.4,146.6 118.8,145.9 118,144.4 113.5,146.7 114.3,148.2 115.2,147.8 120.9,154.2 
		124,152.5 122.1,144.5 127.7,150.6 	"/>
	<polygon fill="#FFFFFF" points="135.1,146.8 140.1,144.1 139.3,142.6 137.9,143.3 134.9,137.5 136.2,136.8 135.4,135.3 
		130.4,137.9 131.2,139.4 132.5,138.7 135.6,144.6 134.3,145.2 	"/>
	<polygon fill="#FFFFFF" points="152.1,137.8 148.2,130.5 149.4,129.9 148.6,128.4 144,130.8 144.8,132.3 146.2,131.5 148.8,136.5 
		141.2,132.2 137,134.4 137.8,135.9 139,135.3 142.1,141.2 140.9,141.8 141.6,143.3 146.2,140.9 145.5,139.4 144.1,140.1 
		141.5,135.1 149,139.4 	"/>
	<polygon fill="#FFFFFF" points="156.6,135.5 163.3,132 164,129.7 162.2,126.3 156.7,129.2 157.5,130.7 160.7,129 161.4,130.4 
		161.2,131.1 157.2,133.2 156.2,132.9 153.9,128.5 154.2,127.5 158.2,125.4 158.8,125.6 159.2,126.2 161.5,125 160.9,123.7 
		158.7,123.1 152,126.6 151.2,129 154.2,134.7 	"/>
	<polygon fill="#FFFFFF" points="166.9,125.1 168.5,128.2 169.8,128.6 173.3,126.8 173.7,125.5 173.2,124.6 172,125.3 172.2,125.8 
		172.1,126.3 170.1,127.3 169.6,127.2 168.4,124.9 168.5,124.3 170.5,123.3 171,123.4 171.3,123.9 172.5,123.3 172.1,122.4 
		170.8,122 167.3,123.8 	"/>
	<path fill="#FFFFFF" d="M176.1,125.3l3.5-1.9l0.4-1.3l-1.6-3l-1.3-0.4l-3.5,1.9l-0.4,1.3l1.6,3L176.1,125.3z M174.8,121l2-1
		l0.6,0.2l1.2,2.3l-0.2,0.6l-2,1l-0.6-0.2l-1.2-2.3L174.8,121z"/>
	
		<rect x="181.1" y="120.9" transform="matrix(-0.8862 0.4632 -0.4632 -0.8862 399.1612 145.1373)" fill="#FFFFFF" width="1.3" height="1.3" filter="url(#f3)"/>
	<polygon fill="#FFFFFF" points="93.2,194.5 92.4,194.9 92.1,196.3 92.5,196.9 94.1,197.3 94.2,197.5 94,198.4 93.7,198.6 
		92.6,198.3 92.4,198 92.5,197.6 91.8,197.4 91.6,198.1 92,198.7 94,199.2 94.7,198.8 95,197.4 94.7,196.8 93,196.4 92.9,196.2 
		93.1,195.3 93.4,195.2 94.5,195.5 94.7,195.7 94.6,196.2 95.3,196.3 95.5,195.7 95.1,195 	"/>
	<path fill="#FFFFFF" d="M97.9,195.8l-2.3,3.9l0.7,0.2l0.6-1l1.5,0.4l0,1.2l0.7,0.2L99,196L97.9,195.8z M97.2,198.3l1.2-2l0,2.3
		L97.2,198.3z"/>
	<polygon fill="#FFFFFF" points="103.1,200.5 102.3,196.9 101.5,196.7 100.4,200.9 101,201.1 101.8,197.9 102.7,201.5 103.5,201.7 
		104.6,197.5 103.9,197.3 	"/>
	<polygon fill="#FFFFFF" points="107.3,202.7 108.1,202.9 108.5,201.1 110.2,201.6 110.4,201 108.7,200.6 109,199.3 110.8,199.7 
		111,199.2 108.4,198.5 	"/>
	<path fill="#FFFFFF" d="M112.4,199.5l-1.1,4.2l0.7,0.2l0.5-1.7l1.1,0.3l0.1,1.9l0.7,0.2l-0.1-2l0.7-0.4l0.3-1.3l-0.4-0.7
		L112.4,199.5z M114.3,201.8l-0.3,0.2l-1.4-0.4l0.4-1.4l1.4,0.4l0.2,0.3L114.3,201.8z"/>
	<path fill="#FFFFFF" d="M117.8,200.9l-2.3,3.9l0.7,0.2l0.6-1l1.5,0.4l0,1.2l0.7,0.2l-0.1-4.6L117.8,200.9z M117.1,203.5l1.2-2
		l0,2.3L117.1,203.5z"/>
	<polygon fill="#FFFFFF" points="123,205.6 122.1,202.1 121.3,201.8 120.2,206.1 120.9,206.3 121.7,203.1 122.5,206.7 123.3,206.9 
		124.4,202.7 123.8,202.5 	"/>
	<polygon fill="#FFFFFF" points="126.6,203.2 125.8,203.7 125.1,206.7 125.5,207.5 127.4,207.9 128.1,207.5 128.3,206.7 
		127.6,206.5 127.5,207.1 127.1,207.3 126.1,207 125.8,206.6 126.5,204.1 126.9,203.9 127.9,204.2 128.1,204.5 128,205 128.7,205.2 
		128.9,204.4 128.5,203.7 	"/>
	<polygon fill="#FFFFFF" points="130.2,204.7 131,204.9 130.1,208.1 129.4,207.9 129.3,208.4 131.5,209 131.6,208.5 130.9,208.3 
		131.7,205.1 132.4,205.3 132.6,204.8 130.4,204.2 	"/>
	<polygon fill="#FFFFFF" points="134.4,205.3 133.7,205.7 133.4,207 133.7,207.6 135.4,208.1 135.5,208.3 135.3,209.2 135,209.3 
		133.9,209 133.7,208.8 133.8,208.3 133.1,208.1 132.9,208.8 133.3,209.5 135.3,210 136,209.6 136.3,208.2 136,207.6 134.3,207.1 
		134.2,206.9 134.4,206.1 134.7,205.9 135.8,206.2 136,206.5 135.9,206.9 136.6,207.1 136.8,206.4 136.4,205.8 	"/>
	<polygon fill="#FFFFFF" points="139,206.4 138.2,206.9 137.4,209.9 137.9,210.7 139.7,211.2 140.5,210.7 140.7,209.9 140,209.8 
		139.8,210.3 139.5,210.5 138.4,210.2 138.2,209.9 138.9,207.3 139.2,207.1 140.3,207.4 140.5,207.7 140.4,208.2 141.1,208.4 
		141.3,207.7 140.8,206.9 	"/>
	<path fill="#FFFFFF" d="M143.5,207.6l-0.8,0.4l-0.8,3l0.4,0.8l1.9,0.5l0.8-0.5l0.8-3l-0.4-0.8L143.5,207.6z M144.4,211.5l-0.4,0.2
		l-1.1-0.3l-0.2-0.4l0.7-2.5l0.4-0.2l1.1,0.3l0.2,0.4L144.4,211.5z"/>
	<polygon fill="#FFFFFF" points="146.3,212.9 146.6,212.9 146.6,213.2 146.5,213.3 146.2,213.2 146.1,213.5 146.6,213.7 
		146.9,213.4 147.3,212.2 146.5,212 	"/>
	<polygon fill="#FFFFFF" points="152.4,209.9 151.6,210.4 150.9,213.4 151.3,214.2 153.2,214.7 153.9,214.2 154.1,213.4 
		153.4,213.3 153.3,213.8 152.9,214 151.9,213.7 151.6,213.4 152.3,210.8 152.7,210.6 153.7,210.9 153.9,211.2 153.8,211.7 
		154.5,211.9 154.7,211.2 154.3,210.4 	"/>
	<path fill="#FFFFFF" d="M157.2,211.2l-2.3,3.9l0.7,0.2l0.6-1l1.5,0.4l0,1.2l0.7,0.2l-0.1-4.6L157.2,211.2z M156.4,213.7l1.2-2
		l0,2.3L156.4,213.7z"/>
	<path fill="#FFFFFF" d="M172.3,44h0.5l0.8,1.4h0.5l-0.9-1.4c0.5-0.1,0.8-0.3,0.8-0.9c0-0.6-0.4-0.9-1.1-0.9h-1.2v3.1h0.5V44z
		 M172.3,42.6h0.6c0.5,0,0.7,0.2,0.7,0.5c0,0.3-0.2,0.5-0.8,0.5h-0.6V42.6z"/>
	<path fill="#FFFFFF" d="M172.8,46.5c1.5,0,2.7-1.1,2.7-2.7c0-1.5-1.3-2.7-2.7-2.7c-1.5,0-2.7,1.1-2.7,2.7
		C170.1,45.3,171.4,46.5,172.8,46.5z M172.8,41.5c1.2,0,2.2,1,2.2,2.3c0,1.3-1,2.3-2.2,2.3c-1.3,0-2.2-1-2.2-2.3
		C170.6,42.5,171.6,41.5,172.8,41.5z"/>
</g>
</svg>